In [1]:
import pandas as pd
df = pd.read_csv('bowling.csv')
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,match_id
0,Shakib Al Hasan,3.0,0,33,0,11.00,6,2,3,0,0,https://www.espncricinfo.com/cricketers/shakib...,scorecard
1,Shivam Mavi,4.0,0,32,1,8.00,8,1,2,0,0,https://www.espncricinfo.com/cricketers/shivam...,scorecard
2,Lockie Ferguson,4.0,0,56,0,14.00,4,7,2,2,0,https://www.espncricinfo.com/cricketers/lockie...,scorecard
3,Varun Chakravarthy,4.0,0,38,0,9.50,5,2,2,0,1,https://www.espncricinfo.com/cricketers/varun-...,scorecard
4,Sunil Narine,4.0,0,26,2,6.50,6,0,1,1,0,https://www.espncricinfo.com/cricketers/sunil-...,scorecard
...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,Trent Boult,4.0,0,36,1,9.00,12,4,1,2,0,https://www.espncricinfo.com/cricketers/trent-...,scorecard
695,Jasprit Bumrah,4.0,0,26,2,6.50,10,2,0,0,0,https://www.espncricinfo.com/cricketers/jaspri...,scorecard
696,Marco Jansen,4.0,0,28,2,7.00,9,2,0,3,1,https://www.espncricinfo.com/cricketers/marco-...,scorecard
697,Krunal Pandya,4.0,0,25,1,6.25,9,1,1,0,0,https://www.espncricinfo.com/cricketers/krunal...,scorecard
698,Rahul Chahar,4.0,0,43,0,10.75,4,3,2,0,0,https://www.espncricinfo.com/cricketers/rahul-...,scorecard

In [2]:
df.describe()

,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls
count,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,3.297282,0.022890,26.198856,0.958512,8.195565,7.480687,2.214592,0.982833,0.659514,0.108727
std,0.993723,0.149659,10.701295,1.041954,3.109269,3.722942,1.648048,1.058324,0.953777,0.350474
min,0.100000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,19.000000,0.000000,6.000000,5.000000,1.000000,0.000000,0.000000,0.000000
50%,4.000000,0.000000,26.000000,1.000000,7.750000,8.000000,2.000000,1.000000,0.000000,0.000000
75%,4.000000,0.000000,33.000000,2.000000,9.750000,10.000000,3.000000,2.000000,1.000000,0.000000
max,4.000000,1.000000,62.000000,5.000000,25.000000,18.000000,11.000000,6.000000,5.000000,2.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   bowlerName   699 non-null    object
 1   overs        699 non-null    float64
 2   maidens      699 non-null    int64
 3   runs         699 non-null    int64
 4   wickets      699 non-null    int64
 5   economy      699 non-null    float64
 6   dots         699 non-null    int64
 7   fours        699 non-null    int64
 8   sixes        699 non-null    int64
 9   wides        699 non-null    int64
 10  no_balls     699 non-null    int64
 11  bowler_link  699 non-null    object
 12  match_id     699 non-null    object
dtypes: float64(2), int64(8), object(3)
memory usage: 71.1+ KB

In [4]:
df.drop(['match_id'], axis=1, inplace=True)

In [5]:
df = df.sort_values(by='bowlerName')

print(df)

           bowlerName  overs  maidens  runs  wickets  economy  dots  fours  \
268       Abdul Samad    1.0        0     9        1     9.00     1      1
593   Abhishek Sharma    1.0        0     5        0     5.00     2      0
234   Abhishek Sharma    1.0        0     8        0     8.00     1      1
61    Abhishek Sharma    1.0        0     4        2     4.00     4      0
460   Abhishek Sharma    1.0        0    14        0    14.00     2      3
..                ...    ...      ...   ...      ...      ...   ...    ...
340  Yuzvendra Chahal    2.0        0    23        1    11.50     5      5
47   Yuzvendra Chahal    4.0        0    34        1     8.50     5      1
392  Yuzvendra Chahal    4.0        0    34        1     8.50     9      1
446  Yuzvendra Chahal    2.0        0    10        0     5.00     5      1
95   Yuzvendra Chahal    4.0        0    27        1     6.75     9      1

     sixes  wides  no_balls                                        bowler_link
268      0      0         0  https://www.espncricinfo.com/cricketers/abdul-...
593      0      0         0  https://www.espncricinfo.com/cricketers/abhish...
234      0      0         0  https://www.espncricinfo.com/cricketers/abhish...
61       0      1         0  https://www.espncricinfo.com/cricketers/abhish...
460      0      1         0  https://www.espncricinfo.com/cricketers/abhish...
..     ...    ...       ...                                                ...
340      0      0         0  https://www.espncricinfo.com/cricketers/yuzven...
47       2      0         0  https://www.espncricinfo.com/cricketers/yuzven...
392      3      0         0  https://www.espncricinfo.com/cricketers/yuzven...
446      0      0         0  https://www.espncricinfo.com/cricketers/yuzven...
95       1      0         0  https://www.espncricinfo.com/cricketers/yuzven...

[699 rows x 12 columns]

In [6]:
name_counts = df['bowlerName'].value_counts()

# Step 2: Add a new column to the DataFrame that shows how many times each player appears
df['inningbowled'] = df['bowlerName'].map(name_counts)

# Step 3: Display the updated DataFrame
print(df)

           bowlerName  overs  maidens  runs  wickets  economy  dots  fours  \
268       Abdul Samad    1.0        0     9        1     9.00     1      1
593   Abhishek Sharma    1.0        0     5        0     5.00     2      0
234   Abhishek Sharma    1.0        0     8        0     8.00     1      1
61    Abhishek Sharma    1.0        0     4        2     4.00     4      0
460   Abhishek Sharma    1.0        0    14        0    14.00     2      3
..                ...    ...      ...   ...      ...      ...   ...    ...
340  Yuzvendra Chahal    2.0        0    23        1    11.50     5      5
47   Yuzvendra Chahal    4.0        0    34        1     8.50     5      1
392  Yuzvendra Chahal    4.0        0    34        1     8.50     9      1
446  Yuzvendra Chahal    2.0        0    10        0     5.00     5      1
95   Yuzvendra Chahal    4.0        0    27        1     6.75     9      1

     sixes  wides  no_balls  \
268      0      0         0
593      0      0         0
234      0      0         0
61       0      1         0
460      0      1         0
..     ...    ...       ...
340      0      0         0
47       2      0         0
392      3      0         0
446      0      0         0
95       1      0         0

                                           bowler_link  inningbowled
268  https://www.espncricinfo.com/cricketers/abdul-...             1
593  https://www.espncricinfo.com/cricketers/abhish...             6
234  https://www.espncricinfo.com/cricketers/abhish...             6
61   https://www.espncricinfo.com/cricketers/abhish...             6
460  https://www.espncricinfo.com/cricketers/abhish...             6
..                                                 ...           ...
340  https://www.espncricinfo.com/cricketers/yuzven...            15
47   https://www.espncricinfo.com/cricketers/yuzven...            15
392  https://www.espncricinfo.com/cricketers/yuzven...            15
446  https://www.espncricinfo.com/cricketers/yuzven...            15
95   https://www.espncricinfo.com/cricketers/yuzven...            15

[699 rows x 13 columns]

In [7]:
import pandas as pd

# Load the CSV file and make sure to reference the correct column name
players_to_check_df = pd.read_csv('temp.csv')

# Convert the 'batsmanName' column to a list
players_to_check = players_to_check_df['batsmanName'].tolist()

# Filter the DataFrame to find players who have bowled more than 2 innings
filtered_df = df[df['inningbowled'] > 2]

# Check if the player names are present in the filtered DataFrame
present_players = filtered_df[filtered_df['bowlerName'].isin(players_to_check)]

# Display the result
present_players

Empty DataFrame
Columns: [bowlerName, overs, maidens, runs, wickets, economy, dots, fours, sixes, wides, no_balls, bowler_link, inningbowled]
Index: []

In [8]:
selected_players =pd.read_csv('selected_players.csv')
selected_players = pd.concat([present_players['bowlerName'], selected_players['batsmanName']], axis=1)
selected_players

  bowlerName       batsmanName
0        NaN     Glenn Maxwell
1        NaN  Jonny Bairstow †
2        NaN               NaN
3        NaN               NaN
4        NaN               NaN

In [9]:
# PARAMETERS
# Batting Average > 15
# Strike Rate > 130
# Innings Batted > 2
# Innings Bowled > 4
# Bowling Economy > 7
# Bowling Strike Rate > 20

In [10]:
df2 = pd.read_csv('final_batting_stats.csv')
df2

,batsmanName,inning_batted,Average_SR,Average_Boundary_Percentage,total_runs,batting_average
0,AB de Villiers,8,148.570000,64.759382,106,13.250000
1,AB de Villiers †,6,112.938333,30.897661,207,34.500000
2,Abdul Samad,10,100.077000,39.761812,111,11.100000
3,Abhishek Sharma,7,114.184286,35.252050,98,14.000000
4,Adam Milne,3,66.666667,20.000000,16,5.333333
...,...,...,...,...,...,...
156,Wanindu Hasaranga,2,50.000000,0.000000,1,0.500000
157,Washington Sundar,4,66.377500,26.785714,31,7.750000
158,Wriddhiman Saha †,9,82.412222,41.317088,131,14.555556
159,Yashasvi Jaiswal,10,131.166000,69.687414,249,24.900000
160,Yuzvendra Chahal,2,35.710000,0.000000,10,5.000000

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   batsmanName                  161 non-null    object
 1   inning_batted                161 non-null    int64
 2   Average_SR                   161 non-null    float64
 3   Average_Boundary_Percentage  148 non-null    float64
 4   total_runs                   161 non-null    int64
 5   batting_average              161 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 7.7+ KB

In [12]:
filtered_df2 = df2[
    (df2['batting_average'] > 15) &
    (df2['Average_SR'] > 127) &
    (df2['inning_batted'] > 2)
]

filtered_df2.reset_index(drop=True, inplace=True)
filtered_df2

,batsmanName,inning_batted,Average_SR,Average_Boundary_Percentage,total_runs,batting_average
0,Aiden Markram,6,129.506667,48.350970,146,24.333333
1,Dwayne Bravo,3,245.833333,82.753623,47,15.666667
2,Evin Lewis,5,165.896000,75.140485,151,30.200000
3,Glenn Maxwell,14,127.404286,55.064352,513,36.642857
4,Ishan Kishan †,3,203.286667,68.984127,162,54.000000
5,Jonny Bairstow †,5,160.382000,71.310602,181,36.200000
6,Kane Williamson,3,157.873333,44.366744,108,36.000000
7,Kieron Pollard,12,127.320000,47.655099,230,19.166667
8,M Shahrukh Khan,10,135.270000,58.944560,153,15.300000
9,Mahipal Lomror,4,127.667500,35.120078,94,23.500000
10,Pat Cummins,5,149.076000,68.787879,93,18.600000
11,Prithvi Shaw,15,141.690667,59.987192,479,31.933333
12,Rahul Tripathi,16,128.793125,50.764777,397,24.812500
13,Ravindra Jadeja,12,167.553333,51.414933,227,18.916667
14,Rishabh Pant (c)†,16,127.476875,56.445543,419,26.187500
15,Saurabh Tiwary,4,144.987500,50.000000,115,28.750000
16,Shimron Hetmyer,13,143.966923,52.771320,242,18.615385
17,Yashasvi Jaiswal,10,131.166000,69.687414,249,24.900000

In [13]:
df['avg_bowling_economy'] = df.groupby('bowlerName')['economy'].transform('mean')
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy
268,Abdul Samad,1.0,0,9,1,9.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abdul-...,1,9.000000
593,Abhishek Sharma,1.0,0,5,0,5.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667
234,Abhishek Sharma,1.0,0,8,0,8.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667
61,Abhishek Sharma,1.0,0,4,2,4.00,4,0,0,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667
460,Abhishek Sharma,1.0,0,14,0,14.00,2,3,0,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,Yuzvendra Chahal,2.0,0,23,1,11.50,5,5,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667
47,Yuzvendra Chahal,4.0,0,34,1,8.50,5,1,2,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667
392,Yuzvendra Chahal,4.0,0,34,1,8.50,9,1,3,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667
446,Yuzvendra Chahal,2.0,0,10,0,5.00,5,1,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667
95,Yuzvendra Chahal,4.0,0,27,1,6.75,9,1,1,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667

bowling strike rate = avg no of balls required to take a wicket = total run / total wickets

In [14]:
import numpy as np

# Calculate the bowling strike rate and set to 0 if wickets = 0
df['bowling SR'] = np.where(df['wickets'] == 0, 0, (df['overs'] * 6) / df['wickets'])

# Display the updated DataFrame
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR
268,Abdul Samad,1.0,0,9,1,9.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abdul-...,1,9.000000,6.0
593,Abhishek Sharma,1.0,0,5,0,5.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0
234,Abhishek Sharma,1.0,0,8,0,8.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0
61,Abhishek Sharma,1.0,0,4,2,4.00,4,0,0,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,3.0
460,Abhishek Sharma,1.0,0,14,0,14.00,2,3,0,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,Yuzvendra Chahal,2.0,0,23,1,11.50,5,5,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,12.0
47,Yuzvendra Chahal,4.0,0,34,1,8.50,5,1,2,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,24.0
392,Yuzvendra Chahal,4.0,0,34,1,8.50,9,1,3,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,24.0
446,Yuzvendra Chahal,2.0,0,10,0,5.00,5,1,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,0.0
95,Yuzvendra Chahal,4.0,0,27,1,6.75,9,1,1,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,24.0

In [15]:
# Step 1: Filter the DataFrame to exclude rows where economy is 0
filtered_df = df[df['bowling SR'] != 0]

# Step 2: Calculate the average economy for each bowler and add it to the original DataFrame
df['avg_bowling_strike'] = df.groupby('bowlerName')['bowling SR'].transform(lambda x: x[x != 0].mean())

# Display the updated DataFrame
df.head(20)

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike
268,Abdul Samad,1.0,0,9,1,9.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abdul-...,1,9.000000,6.0,6.00
593,Abhishek Sharma,1.0,0,5,0,5.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.50
234,Abhishek Sharma,1.0,0,8,0,8.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.50
61,Abhishek Sharma,1.0,0,4,2,4.00,4,0,0,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,3.0,7.50
460,Abhishek Sharma,1.0,0,14,0,14.00,2,3,0,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.50
530,Abhishek Sharma,4.0,0,24,2,6.00,10,0,1,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,12.0,7.50
190,Abhishek Sharma,2.0,0,9,0,4.50,6,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.50
243,Adam Milne,4.0,0,48,1,12.00,7,6,2,0,1,https://www.espncricinfo.com/cricketers/adam-m...,4,9.477500,24.0,18.00
598,Adam Milne,3.0,0,33,0,11.00,4,1,3,1,0,https://www.espncricinfo.com/cricketers/adam-m...,4,9.477500,0.0,18.00
303,Adam Milne,3.0,0,29,0,9.66,6,3,1,1,0,https://www.espncricinfo.com/cricketers/adam-m...,4,9.477500,0.0,18.00
343,Adam Milne,4.0,0,21,2,5.25,14,2,1,0,0,https://www.espncricinfo.com/cricketers/adam-m...,4,9.477500,12.0,18.00
323,Adil Rashid,3.0,0,35,0,11.66,6,1,4,0,0,https://www.espncricinfo.com/cricketers/adil-r...,1,11.660000,0.0,NaN
211,Aiden Markram,3.0,0,18,0,6.00,5,1,0,1,0,https://www.espncricinfo.com/cricketers/aiden-...,2,5.500000,0.0,NaN
133,Aiden Markram,1.0,0,5,0,5.00,4,1,0,0,0,https://www.espncricinfo.com/cricketers/aiden-...,2,5.500000,0.0,NaN
145,Akash Singh,4.0,0,39,0,9.75,7,5,1,0,0,https://www.espncricinfo.com/cricketers/akash-...,1,9.750000,0.0,NaN
470,Amit Mishra,4.0,0,31,1,7.75,8,3,0,0,0,https://www.espncricinfo.com/cricketers/amit-m...,4,7.937500,24.0,16.00
438,Amit Mishra,3.0,0,27,1,9.00,2,0,2,0,0,https://www.espncricinfo.com/cricketers/amit-m...,4,7.937500,18.0,16.00
679,Amit Mishra,3.0,0,27,0,9.00,4,0,2,0,0,https://www.espncricinfo.com/cricketers/amit-m...,4,7.937500,0.0,16.00
545,Amit Mishra,4.0,0,24,4,6.00,11,3,0,0,0,https://www.espncricinfo.com/cricketers/amit-m...,4,7.937500,6.0,16.00
301,Andre Russell,3.0,0,37,0,12.33,4,3,2,1,0,https://www.espncricinfo.com/cricketers/andre-...,8,9.665000,0.0,11.28

In [16]:
import numpy as np

# Calculate the bowling strike rate and set to 0 if wickets = 0
df['bowling_avg'] = np.where(df['wickets'] == 0, 0, (df['runs']) / df['wickets'])

# Display the updated DataFrame
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg
268,Abdul Samad,1.0,0,9,1,9.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abdul-...,1,9.000000,6.0,6.000000,9.0
593,Abhishek Sharma,1.0,0,5,0,5.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.500000,0.0
234,Abhishek Sharma,1.0,0,8,0,8.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.500000,0.0
61,Abhishek Sharma,1.0,0,4,2,4.00,4,0,0,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,3.0,7.500000,2.0
460,Abhishek Sharma,1.0,0,14,0,14.00,2,3,0,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.500000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,Yuzvendra Chahal,2.0,0,23,1,11.50,5,5,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,12.0,16.181818,23.0
47,Yuzvendra Chahal,4.0,0,34,1,8.50,5,1,2,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,24.0,16.181818,34.0
392,Yuzvendra Chahal,4.0,0,34,1,8.50,9,1,3,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,24.0,16.181818,34.0
446,Yuzvendra Chahal,2.0,0,10,0,5.00,5,1,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,0.0,16.181818,0.0
95,Yuzvendra Chahal,4.0,0,27,1,6.75,9,1,1,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,24.0,16.181818,27.0

In [17]:
# Step 1: Filter the DataFrame to exclude rows where bowling_avg is 0
filtered_df = df[df['bowling_avg'] != 0]

# Step 2: Calculate the average bowling_avg for each bowler and add it to the original DataFrame
df['average_bowling_avg'] = df.groupby('bowlerName')['bowling_avg'].transform(lambda x: x[x != 0].mean())

# Display the updated DataFrame
df.head(20)

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg,average_bowling_avg
268,Abdul Samad,1.0,0,9,1,9.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abdul-...,1,9.000000,6.0,6.00,9.0,9.000000
593,Abhishek Sharma,1.0,0,5,0,5.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.50,0.0,7.000000
234,Abhishek Sharma,1.0,0,8,0,8.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.50,0.0,7.000000
61,Abhishek Sharma,1.0,0,4,2,4.00,4,0,0,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,3.0,7.50,2.0,7.000000
460,Abhishek Sharma,1.0,0,14,0,14.00,2,3,0,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.50,0.0,7.000000
530,Abhishek Sharma,4.0,0,24,2,6.00,10,0,1,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,12.0,7.50,12.0,7.000000
190,Abhishek Sharma,2.0,0,9,0,4.50,6,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.50,0.0,7.000000
243,Adam Milne,4.0,0,48,1,12.00,7,6,2,0,1,https://www.espncricinfo.com/cricketers/adam-m...,4,9.477500,24.0,18.00,48.0,29.250000
598,Adam Milne,3.0,0,33,0,11.00,4,1,3,1,0,https://www.espncricinfo.com/cricketers/adam-m...,4,9.477500,0.0,18.00,0.0,29.250000
303,Adam Milne,3.0,0,29,0,9.66,6,3,1,1,0,https://www.espncricinfo.com/cricketers/adam-m...,4,9.477500,0.0,18.00,0.0,29.250000
343,Adam Milne,4.0,0,21,2,5.25,14,2,1,0,0,https://www.espncricinfo.com/cricketers/adam-m...,4,9.477500,12.0,18.00,10.5,29.250000
323,Adil Rashid,3.0,0,35,0,11.66,6,1,4,0,0,https://www.espncricinfo.com/cricketers/adil-r...,1,11.660000,0.0,NaN,0.0,NaN
211,Aiden Markram,3.0,0,18,0,6.00,5,1,0,1,0,https://www.espncricinfo.com/cricketers/aiden-...,2,5.500000,0.0,NaN,0.0,NaN
133,Aiden Markram,1.0,0,5,0,5.00,4,1,0,0,0,https://www.espncricinfo.com/cricketers/aiden-...,2,5.500000,0.0,NaN,0.0,NaN
145,Akash Singh,4.0,0,39,0,9.75,7,5,1,0,0,https://www.espncricinfo.com/cricketers/akash-...,1,9.750000,0.0,NaN,0.0,NaN
470,Amit Mishra,4.0,0,31,1,7.75,8,3,0,0,0,https://www.espncricinfo.com/cricketers/amit-m...,4,7.937500,24.0,16.00,31.0,21.333333
438,Amit Mishra,3.0,0,27,1,9.00,2,0,2,0,0,https://www.espncricinfo.com/cricketers/amit-m...,4,7.937500,18.0,16.00,27.0,21.333333
679,Amit Mishra,3.0,0,27,0,9.00,4,0,2,0,0,https://www.espncricinfo.com/cricketers/amit-m...,4,7.937500,0.0,16.00,0.0,21.333333
545,Amit Mishra,4.0,0,24,4,6.00,11,3,0,0,0,https://www.espncricinfo.com/cricketers/amit-m...,4,7.937500,6.0,16.00,6.0,21.333333
301,Andre Russell,3.0,0,37,0,12.33,4,3,2,1,0,https://www.espncricinfo.com/cricketers/andre-...,8,9.665000,0.0,11.28,0.0,18.600000

In [18]:
# dot ball percentage
df['dot_ball_percentage'] = ((df['dots']) / (df['overs']*6)) *100
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg,average_bowling_avg,dot_ball_percentage
268,Abdul Samad,1.0,0,9,1,9.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abdul-...,1,9.000000,6.0,6.000000,9.0,9.000000,16.666667
593,Abhishek Sharma,1.0,0,5,0,5.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.500000,0.0,7.000000,33.333333
234,Abhishek Sharma,1.0,0,8,0,8.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.500000,0.0,7.000000,16.666667
61,Abhishek Sharma,1.0,0,4,2,4.00,4,0,0,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,3.0,7.500000,2.0,7.000000,66.666667
460,Abhishek Sharma,1.0,0,14,0,14.00,2,3,0,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.500000,0.0,7.000000,33.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,Yuzvendra Chahal,2.0,0,23,1,11.50,5,5,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,12.0,16.181818,23.0,19.575758,41.666667
47,Yuzvendra Chahal,4.0,0,34,1,8.50,5,1,2,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,24.0,16.181818,34.0,19.575758,20.833333
392,Yuzvendra Chahal,4.0,0,34,1,8.50,9,1,3,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,24.0,16.181818,34.0,19.575758,37.500000
446,Yuzvendra Chahal,2.0,0,10,0,5.00,5,1,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,0.0,16.181818,0.0,19.575758,41.666667
95,Yuzvendra Chahal,4.0,0,27,1,6.75,9,1,1,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,24.0,16.181818,27.0,19.575758,37.500000

In [19]:
df['average_dot_ball_%'] = df.groupby('bowlerName')['dot_ball_percentage'].transform('mean')
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg,average_bowling_avg,dot_ball_percentage,average_dot_ball_%
268,Abdul Samad,1.0,0,9,1,9.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abdul-...,1,9.000000,6.0,6.000000,9.0,9.000000,16.666667,16.666667
593,Abhishek Sharma,1.0,0,5,0,5.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.500000,0.0,7.000000,33.333333,40.277778
234,Abhishek Sharma,1.0,0,8,0,8.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.500000,0.0,7.000000,16.666667,40.277778
61,Abhishek Sharma,1.0,0,4,2,4.00,4,0,0,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,3.0,7.500000,2.0,7.000000,66.666667,40.277778
460,Abhishek Sharma,1.0,0,14,0,14.00,2,3,0,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,6.916667,0.0,7.500000,0.0,7.000000,33.333333,40.277778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,Yuzvendra Chahal,2.0,0,23,1,11.50,5,5,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,12.0,16.181818,23.0,19.575758,41.666667,40.185185
47,Yuzvendra Chahal,4.0,0,34,1,8.50,5,1,2,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,24.0,16.181818,34.0,19.575758,20.833333,40.185185
392,Yuzvendra Chahal,4.0,0,34,1,8.50,9,1,3,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,24.0,16.181818,34.0,19.575758,37.500000,40.185185
446,Yuzvendra Chahal,2.0,0,10,0,5.00,5,1,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,0.0,16.181818,0.0,19.575758,41.666667,40.185185
95,Yuzvendra Chahal,4.0,0,27,1,6.75,9,1,1,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.216667,24.0,16.181818,27.0,19.575758,37.500000,40.185185

In [20]:
df.fillna(0, inplace=True)
df = df.round(2)
df.to_csv('processed_balling_stats.csv', index=False)

In [21]:
df3 = df[['bowlerName', 'inningbowled', 'avg_bowling_economy', 'avg_bowling_strike', 'average_bowling_avg', 'average_dot_ball_%']].copy()
df3.drop_duplicates(inplace=True)
df3
df3.to_csv('final_bowling_stats.csv', index=False)

In [22]:
# Filter the DataFrame based on the given conditions
filtered_df3 = df3[
    (df3['inningbowled'] > 2) & 
    (df3['avg_bowling_economy'] < 7) & 
    (df3['avg_bowling_strike'] < 20) 
]

# Display the filtered DataFrame
filtered_df3

,bowlerName,inningbowled,avg_bowling_economy,avg_bowling_strike,average_bowling_avg,average_dot_ball_%
593,Abhishek Sharma,6,6.92,7.50,7.00,40.28
223,Anrich Nortje,8,6.18,16.65,18.06,47.59
41,Axar Patel,12,6.62,16.89,19.50,36.34
81,Harpreet Brar,7,6.57,14.67,14.11,36.71
330,Mahipal Lomror,4,6.46,18.00,22.00,31.25
155,Moeen Ali,10,6.02,13.50,11.83,36.50
390,Mohammed Siraj,15,6.72,14.33,17.08,47.96
85,Moises Henriques,5,5.60,7.00,4.50,50.83
166,Nathan Coulter-Nile,5,6.35,14.00,14.17,44.17
136,Ravi Bishnoi,9,6.39,13.33,12.58,40.28
410,Sunil Narine,14,6.45,15.25,17.49,38.99
23,Varun Chakravarthy,17,6.59,17.09,17.44,36.52

In [23]:
filtered_df2

,batsmanName,inning_batted,Average_SR,Average_Boundary_Percentage,total_runs,batting_average
0,Aiden Markram,6,129.506667,48.350970,146,24.333333
1,Dwayne Bravo,3,245.833333,82.753623,47,15.666667
2,Evin Lewis,5,165.896000,75.140485,151,30.200000
3,Glenn Maxwell,14,127.404286,55.064352,513,36.642857
4,Ishan Kishan †,3,203.286667,68.984127,162,54.000000
5,Jonny Bairstow †,5,160.382000,71.310602,181,36.200000
6,Kane Williamson,3,157.873333,44.366744,108,36.000000
7,Kieron Pollard,12,127.320000,47.655099,230,19.166667
8,M Shahrukh Khan,10,135.270000,58.944560,153,15.300000
9,Mahipal Lomror,4,127.667500,35.120078,94,23.500000
10,Pat Cummins,5,149.076000,68.787879,93,18.600000
11,Prithvi Shaw,15,141.690667,59.987192,479,31.933333
12,Rahul Tripathi,16,128.793125,50.764777,397,24.812500
13,Ravindra Jadeja,12,167.553333,51.414933,227,18.916667
14,Rishabh Pant (c)†,16,127.476875,56.445543,419,26.187500
15,Saurabh Tiwary,4,144.987500,50.000000,115,28.750000
16,Shimron Hetmyer,13,143.966923,52.771320,242,18.615385
17,Yashasvi Jaiswal,10,131.166000,69.687414,249,24.900000

In [24]:
# List of player names to check
players_to_check = filtered_df2['batsmanName'].tolist()

# Check if these names are present in the 'bowlerName' column of filtered_df3
present_players2 = filtered_df3[filtered_df3['bowlerName'].isin(players_to_check)]

# Display the result
present_players2
# Display unique bowler names to verify if players exist

,bowlerName,inningbowled,avg_bowling_economy,avg_bowling_strike,average_bowling_avg,average_dot_ball_%
330,Mahipal Lomror,4,6.46,18.0,22.0,31.25

In [25]:
selected_players = pd.concat([present_players2['bowlerName'], present_players['bowlerName'], selected_players['batsmanName']], axis=1)
selected_players

         bowlerName bowlerName       batsmanName
330  Mahipal Lomror        NaN               NaN
0               NaN        NaN     Glenn Maxwell
1               NaN        NaN  Jonny Bairstow †
2               NaN        NaN               NaN
3               NaN        NaN               NaN
4               NaN        NaN               NaN

In [26]:
# Filter the DataFrame based on the given conditions
filtered_df4 = df3[
    (df3['inningbowled'] > 3) & 
    (df3['avg_bowling_economy'] < 8) & 
    (df3['avg_bowling_strike'] < 16) &
    (df3['average_bowling_avg'] < 25) &
    (df3['average_dot_ball_%'] > 40 ) 
]

# Display the filtered DataFrame
filtered_df4

,bowlerName,inningbowled,avg_bowling_economy,avg_bowling_strike,average_bowling_avg,average_dot_ball_%
593,Abhishek Sharma,6,6.92,7.50,7.00,40.28
219,Lockie Ferguson,8,7.31,14.00,15.79,42.71
390,Mohammed Siraj,15,6.72,14.33,17.08,47.96
85,Moises Henriques,5,5.60,7.00,4.50,50.83
166,Nathan Coulter-Nile,5,6.35,14.00,14.17,44.17
136,Ravi Bishnoi,9,6.39,13.33,12.58,40.28

In [27]:
selected_players = pd.concat([filtered_df4['bowlerName'],present_players2['bowlerName'], present_players['bowlerName'], selected_players['batsmanName']], axis=1)
selected_players

              bowlerName      bowlerName bowlerName       batsmanName
593      Abhishek Sharma             NaN        NaN               NaN
219      Lockie Ferguson             NaN        NaN               NaN
390       Mohammed Siraj             NaN        NaN               NaN
85      Moises Henriques             NaN        NaN               NaN
166  Nathan Coulter-Nile             NaN        NaN               NaN
136         Ravi Bishnoi             NaN        NaN               NaN
330                  NaN  Mahipal Lomror        NaN               NaN
0                    NaN             NaN        NaN     Glenn Maxwell
1                    NaN             NaN        NaN  Jonny Bairstow †
2                    NaN             NaN        NaN               NaN
3                    NaN             NaN        NaN               NaN
4                    NaN             NaN        NaN               NaN

In [28]:
# Combine the 'bowlerName' and 'batsmanName' columns, removing NaN values
player_names = selected_players[['bowlerName', 'batsmanName']].stack().dropna().unique()

# Convert to a list if required
player_names_list = list(player_names)

# Print the list of unique player names
player_names_list

['Abhishek Sharma',
 'Lockie Ferguson',
 'Mohammed Siraj',
 'Moises Henriques',
 'Nathan Coulter-Nile',
 'Ravi Bishnoi',
 'Mahipal Lomror',
 'Glenn Maxwell',
 'Jonny Bairstow\xa0†']

In [29]:
df_players = pd.DataFrame(player_names_list, columns=["Player Name"])

# Save the DataFrame to a CSV file
csv_filename = 'final_players_ipl_2021.csv'
df_players.to_csv(csv_filename, index=False)

print(f"Player names saved to {csv_filename}")

Player names saved to final_players_ipl_2021.csv