In [8]:
import pandas as pd
import numpy as np
df=pd.read_csv('final_players_ODI_2024.csv')
df

          Player Name
0       Glenn Maxwell
1    Jean-Paul Duminy
2   Carlos Brathwaite
3       Hardik Pandya
4          Imad Wasim
5        Alex Carey †
6    Avishka Fernando
7           Jason Roy
8       Jos Buttler †
9      Kusal Perera †
10         Litton Das
11    Shimron Hetmyer

In [9]:
import pandas as pd

# Load DataFrames from CSV files
df2 = pd.read_csv('batting.csv')  # Replace with the actual file name
df3 = pd.read_csv('bowling.csv')  # Replace with the actual file name

df_names = df['Player Name'].tolist()
df2_names = df2['batsmanName'].tolist()
df3_names = df3['bowlerName'].tolist()

# Check names in df against df2 and df3
df['In_df2'] = df['Player Name'].isin(df2_names)  # Adds a boolean column for df2
df['In_df3'] = df['Player Name'].isin(df3_names)  # Adds a boolean column for df3

# Alternatively, to get matching names
matching_in_df2 = df[df['In_df2']]
matching_in_df3 = df[df['In_df3']]

# Print the DataFrame with new columns indicating presence in df2 and df3
print("Original DataFrame with match indicators:")
print(df)

# Print the matching players
print("\nMatching players in df2:")
print(matching_in_df2)

print("\nMatching players in df3:")
print(matching_in_df3)

# Optionally, you can save the updated DataFrame to a new CSV
df

Original DataFrame with match indicators:
          Player Name  In_df2  In_df3
0       Glenn Maxwell    True    True
1    Jean-Paul Duminy    True    True
2   Carlos Brathwaite    True    True
3       Hardik Pandya    True    True
4          Imad Wasim    True    True
5        Alex Carey †    True   False
6    Avishka Fernando    True   False
7           Jason Roy    True   False
8       Jos Buttler †    True   False
9      Kusal Perera †    True   False
10         Litton Das    True   False
11    Shimron Hetmyer    True   False

Matching players in df2:
          Player Name  In_df2  In_df3
0       Glenn Maxwell    True    True
1    Jean-Paul Duminy    True    True
2   Carlos Brathwaite    True    True
3       Hardik Pandya    True    True
4          Imad Wasim    True    True
5        Alex Carey †    True   False
6    Avishka Fernando    True   False
7           Jason Roy    True   False
8       Jos Buttler †    True   False
9      Kusal Perera †    True   False
10         Litton Das    True   False
11    Shimron Hetmyer    True   False

Matching players in df3:
         Player Name  In_df2  In_df3
0      Glenn Maxwell    True    True
1   Jean-Paul Duminy    True    True
2  Carlos Brathwaite    True    True
3      Hardik Pandya    True    True
4         Imad Wasim    True    True

          Player Name  In_df2  In_df3
0       Glenn Maxwell    True    True
1    Jean-Paul Duminy    True    True
2   Carlos Brathwaite    True    True
3       Hardik Pandya    True    True
4          Imad Wasim    True    True
5        Alex Carey †    True   False
6    Avishka Fernando    True   False
7           Jason Roy    True   False
8       Jos Buttler †    True   False
9      Kusal Perera †    True   False
10         Litton Das    True   False
11    Shimron Hetmyer    True   False

In [10]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time

# Load the batting data
batting_df = pd.read_csv('batting.csv')

# Create a mapping of player names to their profile links
player_links = {}
for index, row in batting_df.iterrows():
    player_name = row['batsmanName']  # Adjust if the column name is different
    player_link = row['player_link']  # Adjust if the column name is different
    player_links[player_name] = player_link

# Function to scrape the country and playing role information from player profile
def get_player_info(profile_url):
    try:
        response = requests.get(profile_url)
        if response.status_code == 200:
            soup = BeautifulSoup(response.text, 'html.parser')
            
            # Fetch country information
            country_elem = soup.find('a', title=lambda x: x and "cricket team profile" in x)
            country = country_elem.find('span', class_='ds-text-title-s').text.strip() if country_elem else "Country not found"
            
            # Fetch playing role information using the provided method
            player_details = soup.find('div', class_='ds-grid lg:ds-grid-cols-3 ds-grid-cols-2 ds-gap-4 ds-mb-8')
            playing_role_elem = player_details.find('p', text='Playing Role') if player_details else None
            playing_role = playing_role_elem.find_next('span').text.strip() if playing_role_elem else "Role not found"
            
            return country, playing_role
        else:
            print(f"Failed to retrieve data for URL: {profile_url}")
    except Exception as e:
        print(f"Error fetching information for {profile_url}: {e}")
    return "Country not found", "Role not found"

# Check country and role for each player in df
countries = []
roles = []
for index, row in df.iterrows():
    player_name = row['Player Name']
    if player_name in player_links:
        profile_url = player_links[player_name]
        country, role = get_player_info(profile_url)
        countries.append(country)
        roles.append(role)
        time.sleep(1)  # Add delay to avoid overwhelming the server
    else:
        countries.append("Not Found")
        roles.append("Not Found")

# Add the country and role information to the DataFrame
df['Country'] = countries
df['Role'] = roles

# Print the updated DataFrame
print("Updated DataFrame with country and role information:")
print(df)

C:\Users\kiran\AppData\Local\Temp\ipykernel_23064\3202768010.py:29: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  playing_role_elem = player_details.find('p', text='Playing Role') if player_details else None

Updated DataFrame with country and role information:
          Player Name  In_df2  In_df3       Country                 Role
0       Glenn Maxwell    True    True     Australia   Batting Allrounder
1    Jean-Paul Duminy    True    True  South Africa   Batting Allrounder
2   Carlos Brathwaite    True    True   West Indies           Allrounder
3       Hardik Pandya    True    True         India           Allrounder
4          Imad Wasim    True    True      Pakistan           Allrounder
5        Alex Carey †    True   False     Australia  Wicketkeeper Batter
6    Avishka Fernando    True   False     Sri Lanka       Opening Batter
7           Jason Roy    True   False       England       Opening Batter
8       Jos Buttler †    True   False       England  Wicketkeeper Batter
9      Kusal Perera †    True   False     Sri Lanka  Wicketkeeper Batter
10         Litton Das    True   False    Bangladesh  Wicketkeeper Batter
11    Shimron Hetmyer    True   False   West Indies  Middle order Batter

In [11]:
df = df.drop(columns=['In_df2', 'In_df3'])
df.to_csv('final_players_ODI_2019_info.csv', index=False)
df

          Player Name       Country                 Role
0       Glenn Maxwell     Australia   Batting Allrounder
1    Jean-Paul Duminy  South Africa   Batting Allrounder
2   Carlos Brathwaite   West Indies           Allrounder
3       Hardik Pandya         India           Allrounder
4          Imad Wasim      Pakistan           Allrounder
5        Alex Carey †     Australia  Wicketkeeper Batter
6    Avishka Fernando     Sri Lanka       Opening Batter
7           Jason Roy       England       Opening Batter
8       Jos Buttler †       England  Wicketkeeper Batter
9      Kusal Perera †     Sri Lanka  Wicketkeeper Batter
10         Litton Das    Bangladesh  Wicketkeeper Batter
11    Shimron Hetmyer   West Indies  Middle order Batter

In [1]:
import pandas as pd
df = pd.read_csv('final_players_ODI_2019_info.csv')
df1 = pd.read_csv('final_batting_stats.csv')
df2 = pd.read_csv('final_bowling_stats.csv')
df_batting = df.merge(df1, left_on='Player Name', right_on='batsmanName', how='left')

# Merge the resulting dataframe with df2 (bowling stats) using Player Name and bowlerName
df_combined = df_batting.merge(df2, left_on='Player Name', right_on='bowlerName', how='left')

# Save the combined dataframe to a CSV file
df_combined.to_csv('combined_player_data.csv', index=False)

# Display the combined dataframe
print(df_combined)

          Player Name       Country                 Role        batsmanName  \
0       Glenn Maxwell     Australia   Batting Allrounder      Glenn Maxwell
1    Jean-Paul Duminy  South Africa   Batting Allrounder   Jean-Paul Duminy
2   Carlos Brathwaite   West Indies           Allrounder  Carlos Brathwaite
3       Hardik Pandya         India           Allrounder      Hardik Pandya
4          Imad Wasim      Pakistan           Allrounder         Imad Wasim
5          Alex Carey     Australia  Wicketkeeper Batter                NaN
6    Avishka Fernando     Sri Lanka       Opening Batter   Avishka Fernando
7           Jason Roy       England       Opening Batter          Jason Roy
8         Jos Buttler       England  Wicketkeeper Batter                NaN
9        Kusal Perera     Sri Lanka  Wicketkeeper Batter                NaN
10         Litton Das    Bangladesh  Wicketkeeper Batter         Litton Das
11    Shimron Hetmyer   West Indies  Middle order Batter    Shimron Hetmyer
12   Heinrich Klaasen  South Africa  Wicketkeeper Batter                NaN

    inning_batted  Average_SR  Average_Boundary_Percentage  total_runs  \
0            10.0  162.965000                    62.167038       177.0
1             4.0   82.325000                    28.531746        70.0
2             6.0  117.373333                    53.450613       154.0
3             9.0  121.186667                    45.732020       226.0
4             5.0  112.144000                    42.986319       162.0
5             NaN         NaN                          NaN         NaN
6             4.0  106.320000                    63.239142       203.0
7             7.0  110.357143                    68.234728       443.0
8             NaN         NaN                          NaN         NaN
9             NaN         NaN                          NaN         NaN
10            5.0  103.928000                    46.869439       184.0
11            8.0  102.527500                    43.485720       257.0
12            NaN         NaN                          NaN         NaN

    batting_average         bowlerName  inningbowled  avg_bowling_economy  \
0         17.700000      Glenn Maxwell           8.0                 6.31
1         17.500000   Jean-Paul Duminy           4.0                 7.50
2         25.666667  Carlos Brathwaite           7.0                 7.49
3         25.111111      Hardik Pandya           9.0                 5.63
4         32.400000         Imad Wasim           5.0                 4.90
5               NaN                NaN           NaN                  NaN
6         50.750000                NaN           NaN                  NaN
7         63.285714                NaN           NaN                  NaN
8               NaN                NaN           NaN                  NaN
9               NaN                NaN           NaN                  NaN
10        36.800000                NaN           NaN                  NaN
11        32.125000                NaN           NaN                  NaN
12              NaN                NaN           NaN                  NaN

    avg_bowling_strike  average_bowling_avg  average_dot_ball_%
0                 0.00                 0.00               40.61
1                12.00                15.00               40.62
2                17.17                22.36               35.05
3                37.33                33.42               43.87
4                30.00                24.00               44.33
5                  NaN                  NaN                 NaN
6                  NaN                  NaN                 NaN
7                  NaN                  NaN                 NaN
8                  NaN                  NaN                 NaN
9                  NaN                  NaN                 NaN
10                 NaN                  NaN                 NaN
11                 NaN                  NaN                 NaN
12                 NaN                  NaN                 NaN

c:\Users\kiran\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\internals\blocks.py:2323: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)