In [1]:
import pandas as pd
df = pd.read_csv('bowling.csv')
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,match_id
0,Mitchell Starc,3.0,0,14,2,4.66,11,2,0,0,0,https://www.espncricinfo.com/cricketers/mitche...,scorecard
1,Vaibhav Arora,3.0,0,24,1,8.00,9,2,1,4,0,https://www.espncricinfo.com/cricketers/vaibha...,scorecard
2,Harshit Rana,4.0,1,24,2,6.00,13,2,1,1,0,https://www.espncricinfo.com/cricketers/harshi...,scorecard
3,Sunil Narine,4.0,0,16,1,4.00,9,0,0,0,0,https://www.espncricinfo.com/cricketers/sunil-...,scorecard
4,Andre Russell,2.3,0,19,3,7.60,7,1,1,1,0,https://www.espncricinfo.com/cricketers/andre-...,scorecard
...,...,...,...,...,...,...,...,...,...,...,...,...,...
852,Alzarri Joseph,3.4,0,38,0,10.36,5,1,2,4,0,https://www.espncricinfo.com/cricketers/alzarr...,scorecard
853,Karn Sharma,2.0,0,24,1,12.00,4,0,3,0,0,https://www.espncricinfo.com/cricketers/karn-s...,scorecard
854,Mayank Dagar,2.0,0,6,0,3.00,6,0,0,0,0,https://www.espncricinfo.com/cricketers/mayank...,scorecard
855,Cameron Green,3.0,0,27,2,9.00,5,1,1,3,0,https://www.espncricinfo.com/cricketers/camero...,scorecard
856,Glenn Maxwell,1.0,0,7,0,7.00,4,0,1,0,0,https://www.espncricinfo.com/cricketers/glenn-...,scorecard

In [2]:
df.describe()

,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls
count,857.000000,857.000000,857.000000,857.000000,857.000000,857.000000,857.000000,857.000000,857.000000,857.000000
mean,3.157876,0.010502,29.851809,0.968495,9.813711,6.569428,2.536756,1.470245,0.850642,0.087515
std,1.036816,0.101998,12.372064,1.011701,3.635884,3.596487,1.816684,1.382252,1.122665,0.325038
min,0.100000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.100000,0.000000,21.000000,0.000000,7.250000,4.000000,1.000000,0.000000,0.000000,0.000000
50%,4.000000,0.000000,29.000000,1.000000,9.330000,7.000000,2.000000,1.000000,0.000000,0.000000
75%,4.000000,0.000000,38.000000,2.000000,11.750000,9.000000,4.000000,2.000000,1.000000,0.000000
max,4.000000,1.000000,73.000000,5.000000,28.000000,17.000000,9.000000,7.000000,7.000000,3.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   bowlerName   857 non-null    object
 1   overs        857 non-null    float64
 2   maidens      857 non-null    int64
 3   runs         857 non-null    int64
 4   wickets      857 non-null    int64
 5   economy      857 non-null    float64
 6   dots         857 non-null    int64
 7   fours        857 non-null    int64
 8   sixes        857 non-null    int64
 9   wides        857 non-null    int64
 10  no_balls     857 non-null    int64
 11  bowler_link  857 non-null    object
 12  match_id     857 non-null    object
dtypes: float64(2), int64(8), object(3)
memory usage: 87.2+ KB

In [4]:
df.drop(['match_id'], axis=1, inplace=True)

In [5]:
df = df.sort_values(by='bowlerName')

print(df)

           bowlerName  overs  maidens  runs  wickets  economy  dots  fours  \
639   Abhishek Sharma    1.0        0     7        0     7.00     2      1
22    Abhishek Sharma    4.0        0    24        2     6.00     8      2
503   Abhishek Sharma    1.0        0    10        0    10.00     2      2
363   Abhishek Sharma    1.0        0    10        0    10.00     0      1
11      Aiden Markram    1.0        0     5        0     5.00     2      0
..                ...    ...      ...   ...      ...      ...   ...    ...
489  Yuzvendra Chahal    4.0        0    54        1    13.50     4      4
758  Yuzvendra Chahal    3.0        0    19        2     6.33     7      0
330  Yuzvendra Chahal    4.0        0    41        0    10.25     3      5
694  Yuzvendra Chahal    4.0        0    11        3     2.75    16      1
97   Yuzvendra Chahal    4.0        0    31        2     7.75     5      3

     sixes  wides  no_balls                                        bowler_link
639      0      0         0  https://www.espncricinfo.com/cricketers/abhish...
22       0      0         0  https://www.espncricinfo.com/cricketers/abhish...
503      0      0         0  https://www.espncricinfo.com/cricketers/abhish...
363      0      0         0  https://www.espncricinfo.com/cricketers/abhish...
11       0      0         0  https://www.espncricinfo.com/cricketers/aiden-...
..     ...    ...       ...                                                ...
489      4      1         0  https://www.espncricinfo.com/cricketers/yuzven...
758      1      0         0  https://www.espncricinfo.com/cricketers/yuzven...
330      0      1         0  https://www.espncricinfo.com/cricketers/yuzven...
694      0      0         0  https://www.espncricinfo.com/cricketers/yuzven...
97       0      1         0  https://www.espncricinfo.com/cricketers/yuzven...

[857 rows x 12 columns]

In [6]:
name_counts = df['bowlerName'].value_counts()

# Step 2: Add a new column to the DataFrame that shows how many times each player appears
df['inningbowled'] = df['bowlerName'].map(name_counts)

# Step 3: Display the updated DataFrame
print(df)

           bowlerName  overs  maidens  runs  wickets  economy  dots  fours  \
639   Abhishek Sharma    1.0        0     7        0     7.00     2      1
22    Abhishek Sharma    4.0        0    24        2     6.00     8      2
503   Abhishek Sharma    1.0        0    10        0    10.00     2      2
363   Abhishek Sharma    1.0        0    10        0    10.00     0      1
11      Aiden Markram    1.0        0     5        0     5.00     2      0
..                ...    ...      ...   ...      ...      ...   ...    ...
489  Yuzvendra Chahal    4.0        0    54        1    13.50     4      4
758  Yuzvendra Chahal    3.0        0    19        2     6.33     7      0
330  Yuzvendra Chahal    4.0        0    41        0    10.25     3      5
694  Yuzvendra Chahal    4.0        0    11        3     2.75    16      1
97   Yuzvendra Chahal    4.0        0    31        2     7.75     5      3

     sixes  wides  no_balls  \
639      0      0         0
22       0      0         0
503      0      0         0
363      0      0         0
11       0      0         0
..     ...    ...       ...
489      4      1         0
758      1      0         0
330      0      1         0
694      0      0         0
97       0      1         0

                                           bowler_link  inningbowled
639  https://www.espncricinfo.com/cricketers/abhish...             4
22   https://www.espncricinfo.com/cricketers/abhish...             4
503  https://www.espncricinfo.com/cricketers/abhish...             4
363  https://www.espncricinfo.com/cricketers/abhish...             4
11   https://www.espncricinfo.com/cricketers/aiden-...             2
..                                                 ...           ...
489  https://www.espncricinfo.com/cricketers/yuzven...            15
758  https://www.espncricinfo.com/cricketers/yuzven...            15
330  https://www.espncricinfo.com/cricketers/yuzven...            15
694  https://www.espncricinfo.com/cricketers/yuzven...            15
97   https://www.espncricinfo.com/cricketers/yuzven...            15

[857 rows x 13 columns]

In [7]:
import pandas as pd

# Load the CSV file and make sure to reference the correct column name
players_to_check_df = pd.read_csv('temp.csv')

# Convert the 'batsmanName' column to a list
players_to_check = players_to_check_df['batsmanName'].tolist()

# Filter the DataFrame to find players who have bowled more than 2 innings
filtered_df = df[df['inningbowled'] > 2]

# Check if the player names are present in the filtered DataFrame
present_players = filtered_df[filtered_df['bowlerName'].isin(players_to_check)]

# Display the result
present_players

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled
639,Abhishek Sharma,1.0,0,7,0,7.00,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4
22,Abhishek Sharma,4.0,0,24,2,6.00,8,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4
503,Abhishek Sharma,1.0,0,10,0,10.00,2,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4
363,Abhishek Sharma,1.0,0,10,0,10.00,0,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4
675,Sunil Narine,4.0,0,29,1,7.25,12,0,3,0,0,https://www.espncricinfo.com/cricketers/sunil-...,14
525,Sunil Narine,4.0,0,17,1,4.25,7,0,0,0,0,https://www.espncricinfo.com/cricketers/sunil-...,14
38,Sunil Narine,4.0,0,40,1,10.00,7,2,3,0,0,https://www.espncricinfo.com/cricketers/sunil-...,14
145,Sunil Narine,3.0,0,21,1,7.00,10,2,1,0,0,https://www.espncricinfo.com/cricketers/sunil-...,14
216,Sunil Narine,4.0,0,22,1,5.50,8,1,0,1,0,https://www.espncricinfo.com/cricketers/sunil-...,14
294,Sunil Narine,4.0,0,24,1,6.00,9,1,1,0,0,https://www.espncricinfo.com/cricketers/sunil-...,14
436,Sunil Narine,4.0,0,34,2,8.50,11,2,3,0,0,https://www.espncricinfo.com/cricketers/sunil-...,14
740,Sunil Narine,4.0,0,40,1,10.00,6,3,2,0,0,https://www.espncricinfo.com/cricketers/sunil-...,14
600,Sunil Narine,4.0,0,30,1,7.50,5,1,1,0,0,https://www.espncricinfo.com/cricketers/sunil-...,14
494,Sunil Narine,4.0,0,30,2,7.50,12,1,2,2,0,https://www.espncricinfo.com/cricketers/sunil-...,14
359,Sunil Narine,4.0,0,24,1,6.00,12,2,1,0,0,https://www.espncricinfo.com/cricketers/sunil-...,14
3,Sunil Narine,4.0,0,16,1,4.00,9,0,0,0,0,https://www.espncricinfo.com/cricketers/sunil-...,14
830,Sunil Narine,4.0,0,19,1,4.75,8,0,0,0,0,https://www.espncricinfo.com/cricketers/sunil-...,14
252,Sunil Narine,4.0,0,22,2,5.50,11,2,0,1,0,https://www.espncricinfo.com/cricketers/sunil-...,14
497,Will Jacks,3.0,0,32,0,10.66,5,2,2,1,0,https://www.espncricinfo.com/cricketers/will-j...,5
370,Will Jacks,2.0,0,23,1,11.50,3,1,2,0,0,https://www.espncricinfo.com/cricketers/will-j...,5
568,Will Jacks,2.0,0,24,1,12.00,2,3,1,0,0,https://www.espncricinfo.com/cricketers/will-j...,5
125,Will Jacks,1.0,0,16,0,16.00,0,0,2,0,0,https://www.espncricinfo.com/cricketers/will-j...,5
170,Will Jacks,1.0,0,5,0,5.00,1,0,0,0,0,https://www.espncricinfo.com/cricketers/will-j...,5

In [8]:
selected_players =pd.read_csv('selected_players.csv')
selected_players = pd.concat([present_players['bowlerName'], selected_players['batsmanName']], axis=1)
selected_players

          bowlerName        batsmanName
639  Abhishek Sharma                NaN
22   Abhishek Sharma                NaN
503  Abhishek Sharma                NaN
363  Abhishek Sharma                NaN
675     Sunil Narine                NaN
525     Sunil Narine                NaN
38      Sunil Narine                NaN
145     Sunil Narine                NaN
216     Sunil Narine                NaN
294     Sunil Narine                NaN
436     Sunil Narine                NaN
740     Sunil Narine                NaN
600     Sunil Narine                NaN
494     Sunil Narine                NaN
359     Sunil Narine                NaN
3       Sunil Narine  Sanju SamsonÂ (c)â€
830     Sunil Narine                NaN
252     Sunil Narine                NaN
497       Will Jacks                NaN
370       Will Jacks                NaN
568       Will Jacks                NaN
125       Will Jacks                NaN
170       Will Jacks                NaN
0                NaN      KL RahulÂ (c)â€
1                NaN        Riyan Parag
2                NaN      Sai Sudharsan
4                NaN   Shubman GillÂ (c)
5                NaN        Virat Kohli
6                NaN                NaN
7                NaN                NaN
8                NaN                NaN
9                NaN                NaN
10               NaN                NaN
11               NaN                NaN
12               NaN                NaN
13               NaN                NaN
14               NaN                NaN
15               NaN                NaN
16               NaN                NaN
17               NaN                NaN

In [9]:
# PARAMETERS
# Batting Average > 15
# Strike Rate > 130
# Innings Batted > 2
# Innings Bowled > 4
# Bowling Economy > 7
# Bowling Strike Rate > 20

In [10]:
df2 = pd.read_csv('final_batting_stats.csv')
df2

,batsmanName,inning_batted,Average_SR,Average_Boundary_Percentage,total_runs,batting_average
0,Abdul Samad,12,150.197500,56.338876,182,15.166667
1,Abhinav Manohar,2,53.570000,25.000000,9,4.500000
2,Abhishek Sharma,16,189.463125,68.058298,484,30.250000
3,Abishek Porel,11,155.187273,62.941972,325,29.545455
4,Abishek PorelÂ â€,1,66.660000,0.000000,2,2.000000
...,...,...,...,...,...,...
177,Washington Sundar,2,0.000000,NaN,0,0.000000
178,Will Jacks,8,142.110000,57.831142,230,28.750000
179,Wriddhiman SahaÂ â€,9,106.727778,52.729353,136,15.111111
180,Yashasvi Jaiswal,15,143.548000,77.918629,435,29.000000
181,Yudhvir Singh,2,150.000000,78.571429,21,10.500000

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   batsmanName                  182 non-null    object
 1   inning_batted                182 non-null    int64
 2   Average_SR                   182 non-null    float64
 3   Average_Boundary_Percentage  179 non-null    float64
 4   total_runs                   182 non-null    int64
 5   batting_average              182 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 8.7+ KB

In [12]:
filtered_df2 = df2[
    (df2['batting_average'] > 15) &
    (df2['Average_SR'] > 127) &
    (df2['inning_batted'] > 2)
]

filtered_df2.reset_index(drop=True, inplace=True)
filtered_df2

,batsmanName,inning_batted,Average_SR,Average_Boundary_Percentage,total_runs,batting_average
0,Abdul Samad,12,150.197500,56.338876,182,15.166667
1,Abhishek Sharma,16,189.463125,68.058298,484,30.250000
2,Abishek Porel,11,155.187273,62.941972,325,29.545455
3,Andre Russell,9,189.800000,78.201537,222,24.666667
4,Angkrish Raghuvanshi,7,147.340000,63.758431,163,23.285714
5,Ashutosh Sharma,9,140.294444,46.394475,189,21.000000
6,Daryl Mitchell,13,130.440000,40.261101,318,24.461538
7,David Miller,9,130.523333,43.258038,210,23.333333
8,Deepak Hooda,9,132.268889,53.260512,145,16.111111
9,Dinesh Karthik,4,181.537500,59.718045,90,22.500000
10,Dinesh KarthikÂ â€,9,171.095556,69.533611,236,26.222222
11,Faf du PlessisÂ (c),15,149.500000,67.969884,438,29.200000
12,Hardik PandyaÂ (c),13,132.548462,47.620431,216,16.615385
13,Heinrich KlaasenÂ â€,15,159.089333,55.197611,479,31.933333
14,Ishan KishanÂ â€,14,131.130714,71.040546,320,22.857143
15,Jake Fraser-McGurk,9,208.617778,89.655196,330,36.666667
16,Jonny Bairstow,9,146.812222,71.299616,257,28.555556
17,KL RahulÂ (c)â€,12,133.205000,55.033912,500,41.666667
18,M Shahrukh Khan,7,135.592857,60.685439,127,18.142857
19,Mitchell Marsh,4,127.080000,88.244767,61,15.250000
20,Naman Dhir,7,145.575714,79.541027,140,20.000000
21,Nicholas Pooran,13,157.315385,65.041706,457,35.153846
22,Nitish Kumar Reddy,11,128.843636,49.389620,303,27.545455
23,Phil SaltÂ â€,12,164.010000,77.875875,435,36.250000
24,Prabhsimran Singh,14,143.584286,75.113946,334,23.857143
25,Prithvi Shaw,8,174.007500,77.256460,198,24.750000
26,Rachin Ravindra,10,131.026000,56.363678,222,22.200000
27,Rahul Tewatia,9,146.891111,57.982168,188,20.888889
28,Rahul Tripathi,6,139.155000,57.326872,165,27.500000
29,Rajat Patidar,13,150.966154,58.482860,395,30.384615
30,Ravindra Jadeja,11,139.545455,42.862303,267,24.272727
31,Rilee Rossouw,8,138.832500,68.249861,211,26.375000
32,Rinku Singh,11,151.312727,53.670469,168,15.272727
33,Rishabh PantÂ (c)â€,13,142.459231,56.409786,446,34.307692
34,Riyan Parag,14,141.670000,59.160569,573,40.928571
35,Sai Sudharsan,12,133.021667,49.238810,527,43.916667
36,Sanju SamsonÂ (c)â€,15,131.002000,59.303716,531,35.400000
37,Shai Hope,9,147.035556,61.409029,183,20.333333
38,Shashank Singh,14,131.057143,52.473983,354,25.285714
39,Shivam Dube,14,129.608571,57.330485,396,28.285714
40,Shreyas IyerÂ (c),14,147.632857,63.610683,351,25.071429
41,Shubman GillÂ (c),12,128.738333,53.002629,426,35.500000
42,Sunil Narine,14,149.191429,75.128654,488,34.857143
43,Tilak Varma,13,140.728462,56.651358,416,32.000000
44,Tim David,11,148.917273,54.858212,241,21.909091
45,Travis Head,15,141.268667,68.312439,567,37.800000
46,Tristan Stubbs,13,160.974615,46.071470,378,29.076923
47,Venkatesh Iyer,13,155.910769,57.453914,370,28.461538
48,Virat Kohli,15,155.596667,60.864230,741,49.400000
49,Will Jacks,8,142.110000,57.831142,230,28.750000
50,Yashasvi Jaiswal,15,143.548000,77.918629,435,29.000000

In [13]:
df['avg_bowling_economy'] = df.groupby('bowlerName')['economy'].transform('mean')
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy
639,Abhishek Sharma,1.0,0,7,0,7.00,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250
22,Abhishek Sharma,4.0,0,24,2,6.00,8,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250
503,Abhishek Sharma,1.0,0,10,0,10.00,2,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250
363,Abhishek Sharma,1.0,0,10,0,10.00,0,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250
11,Aiden Markram,1.0,0,5,0,5.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/aiden-...,2,7.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Yuzvendra Chahal,4.0,0,54,1,13.50,4,4,4,1,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344
758,Yuzvendra Chahal,3.0,0,19,2,6.33,7,0,1,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344
330,Yuzvendra Chahal,4.0,0,41,0,10.25,3,5,0,1,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344
694,Yuzvendra Chahal,4.0,0,11,3,2.75,16,1,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344
97,Yuzvendra Chahal,4.0,0,31,2,7.75,5,3,0,1,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344

bowling strike rate = avg no of balls required to take a wicket = total run / total wickets

In [14]:
import numpy as np

# Calculate the bowling strike rate and set to 0 if wickets = 0
df['bowling SR'] = np.where(df['wickets'] == 0, 0, (df['overs'] * 6) / df['wickets'])

# Display the updated DataFrame
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR
639,Abhishek Sharma,1.0,0,7,0,7.00,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,0.0
22,Abhishek Sharma,4.0,0,24,2,6.00,8,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,12.0
503,Abhishek Sharma,1.0,0,10,0,10.00,2,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,0.0
363,Abhishek Sharma,1.0,0,10,0,10.00,0,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,0.0
11,Aiden Markram,1.0,0,5,0,5.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/aiden-...,2,7.500,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Yuzvendra Chahal,4.0,0,54,1,13.50,4,4,4,1,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,24.0
758,Yuzvendra Chahal,3.0,0,19,2,6.33,7,0,1,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,9.0
330,Yuzvendra Chahal,4.0,0,41,0,10.25,3,5,0,1,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,0.0
694,Yuzvendra Chahal,4.0,0,11,3,2.75,16,1,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,8.0
97,Yuzvendra Chahal,4.0,0,31,2,7.75,5,3,0,1,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,12.0

In [15]:
# Step 1: Filter the DataFrame to exclude rows where economy is 0
filtered_df = df[df['bowling SR'] != 0]

# Step 2: Calculate the average economy for each bowler and add it to the original DataFrame
df['avg_bowling_strike'] = df.groupby('bowlerName')['bowling SR'].transform(lambda x: x[x != 0].mean())

# Display the updated DataFrame
df.head(20)

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike
639,Abhishek Sharma,1.0,0,7,0,7.00,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250000,0.0,12.000000
22,Abhishek Sharma,4.0,0,24,2,6.00,8,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250000,12.0,12.000000
503,Abhishek Sharma,1.0,0,10,0,10.00,2,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250000,0.0,12.000000
363,Abhishek Sharma,1.0,0,10,0,10.00,0,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250000,0.0,12.000000
11,Aiden Markram,1.0,0,5,0,5.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/aiden-...,2,7.500000,0.0,NaN
23,Aiden Markram,1.0,0,10,0,10.00,2,0,1,0,1,https://www.espncricinfo.com/cricketers/aiden-...,2,7.500000,0.0,NaN
565,Akash Deep,3.3,0,55,1,15.71,6,2,6,2,0,https://www.espncricinfo.com/cricketers/akash-...,1,15.710000,19.8,19.800000
698,Akash Madhwal,4.0,0,20,3,5.00,9,1,0,1,0,https://www.espncricinfo.com/cricketers/akash-...,5,11.470000,8.0,16.866667
559,Akash Madhwal,4.0,0,57,1,14.25,7,9,2,3,0,https://www.espncricinfo.com/cricketers/akash-...,5,11.470000,24.0,16.866667
513,Akash Madhwal,3.0,0,37,0,12.33,4,4,2,0,0,https://www.espncricinfo.com/cricketers/akash-...,5,11.470000,0.0,16.866667
623,Akash Madhwal,4.0,0,45,0,11.25,9,7,1,0,1,https://www.espncricinfo.com/cricketers/akash-...,5,11.470000,0.0,16.866667
472,Akash Madhwal,3.1,0,46,1,14.52,7,2,4,4,1,https://www.espncricinfo.com/cricketers/akash-...,5,11.470000,18.6,16.866667
852,Alzarri Joseph,3.4,0,38,0,10.36,5,1,2,4,0,https://www.espncricinfo.com/cricketers/alzarr...,3,12.703333,0.0,24.000000
745,Alzarri Joseph,2.0,0,34,0,17.00,5,2,4,0,0,https://www.espncricinfo.com/cricketers/alzarr...,3,12.703333,0.0,24.000000
786,Alzarri Joseph,4.0,0,43,1,10.75,8,4,2,2,0,https://www.espncricinfo.com/cricketers/alzarr...,3,12.703333,24.0,24.000000
336,Amit Mishra,2.0,0,20,1,10.00,5,1,2,0,0,https://www.espncricinfo.com/cricketers/amit-m...,1,10.000000,12.0,12.000000
219,Andre Russell,2.0,0,17,2,8.50,4,0,1,3,0,https://www.espncricinfo.com/cricketers/andre-...,14,10.893571,6.0,7.660000
831,Andre Russell,2.0,0,25,2,12.50,4,4,1,0,0,https://www.espncricinfo.com/cricketers/andre-...,14,10.893571,6.0,7.660000
361,Andre Russell,2.0,0,36,0,18.00,2,1,4,2,0,https://www.espncricinfo.com/cricketers/andre-...,14,10.893571,0.0,7.660000
39,Andre Russell,1.3,0,15,1,10.00,2,2,0,0,0,https://www.espncricinfo.com/cricketers/andre-...,14,10.893571,7.8,7.660000

In [16]:
import numpy as np

# Calculate the bowling strike rate and set to 0 if wickets = 0
df['bowling_avg'] = np.where(df['wickets'] == 0, 0, (df['runs']) / df['wickets'])

# Display the updated DataFrame
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg
639,Abhishek Sharma,1.0,0,7,0,7.00,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,0.0,12.000000,0.000000
22,Abhishek Sharma,4.0,0,24,2,6.00,8,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,12.0,12.000000,12.000000
503,Abhishek Sharma,1.0,0,10,0,10.00,2,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,0.0,12.000000,0.000000
363,Abhishek Sharma,1.0,0,10,0,10.00,0,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,0.0,12.000000,0.000000
11,Aiden Markram,1.0,0,5,0,5.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/aiden-...,2,7.500,0.0,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Yuzvendra Chahal,4.0,0,54,1,13.50,4,4,4,1,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,24.0,17.916667,54.000000
758,Yuzvendra Chahal,3.0,0,19,2,6.33,7,0,1,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,9.0,17.916667,9.500000
330,Yuzvendra Chahal,4.0,0,41,0,10.25,3,5,0,1,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,0.0,17.916667,0.000000
694,Yuzvendra Chahal,4.0,0,11,3,2.75,16,1,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,8.0,17.916667,3.666667
97,Yuzvendra Chahal,4.0,0,31,2,7.75,5,3,0,1,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,12.0,17.916667,15.500000

In [17]:
# Step 1: Filter the DataFrame to exclude rows where bowling_avg is 0
filtered_df = df[df['bowling_avg'] != 0]

# Step 2: Calculate the average bowling_avg for each bowler and add it to the original DataFrame
df['average_bowling_avg'] = df.groupby('bowlerName')['bowling_avg'].transform(lambda x: x[x != 0].mean())

# Display the updated DataFrame
df.head(20)

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg,average_bowling_avg
639,Abhishek Sharma,1.0,0,7,0,7.00,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250000,0.0,12.000000,0.000000,12.000000
22,Abhishek Sharma,4.0,0,24,2,6.00,8,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250000,12.0,12.000000,12.000000,12.000000
503,Abhishek Sharma,1.0,0,10,0,10.00,2,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250000,0.0,12.000000,0.000000,12.000000
363,Abhishek Sharma,1.0,0,10,0,10.00,0,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250000,0.0,12.000000,0.000000,12.000000
11,Aiden Markram,1.0,0,5,0,5.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/aiden-...,2,7.500000,0.0,NaN,0.000000,NaN
23,Aiden Markram,1.0,0,10,0,10.00,2,0,1,0,1,https://www.espncricinfo.com/cricketers/aiden-...,2,7.500000,0.0,NaN,0.000000,NaN
565,Akash Deep,3.3,0,55,1,15.71,6,2,6,2,0,https://www.espncricinfo.com/cricketers/akash-...,1,15.710000,19.8,19.800000,55.000000,55.000000
698,Akash Madhwal,4.0,0,20,3,5.00,9,1,0,1,0,https://www.espncricinfo.com/cricketers/akash-...,5,11.470000,8.0,16.866667,6.666667,36.555556
559,Akash Madhwal,4.0,0,57,1,14.25,7,9,2,3,0,https://www.espncricinfo.com/cricketers/akash-...,5,11.470000,24.0,16.866667,57.000000,36.555556
513,Akash Madhwal,3.0,0,37,0,12.33,4,4,2,0,0,https://www.espncricinfo.com/cricketers/akash-...,5,11.470000,0.0,16.866667,0.000000,36.555556
623,Akash Madhwal,4.0,0,45,0,11.25,9,7,1,0,1,https://www.espncricinfo.com/cricketers/akash-...,5,11.470000,0.0,16.866667,0.000000,36.555556
472,Akash Madhwal,3.1,0,46,1,14.52,7,2,4,4,1,https://www.espncricinfo.com/cricketers/akash-...,5,11.470000,18.6,16.866667,46.000000,36.555556
852,Alzarri Joseph,3.4,0,38,0,10.36,5,1,2,4,0,https://www.espncricinfo.com/cricketers/alzarr...,3,12.703333,0.0,24.000000,0.000000,43.000000
745,Alzarri Joseph,2.0,0,34,0,17.00,5,2,4,0,0,https://www.espncricinfo.com/cricketers/alzarr...,3,12.703333,0.0,24.000000,0.000000,43.000000
786,Alzarri Joseph,4.0,0,43,1,10.75,8,4,2,2,0,https://www.espncricinfo.com/cricketers/alzarr...,3,12.703333,24.0,24.000000,43.000000,43.000000
336,Amit Mishra,2.0,0,20,1,10.00,5,1,2,0,0,https://www.espncricinfo.com/cricketers/amit-m...,1,10.000000,12.0,12.000000,20.000000,20.000000
219,Andre Russell,2.0,0,17,2,8.50,4,0,1,3,0,https://www.espncricinfo.com/cricketers/andre-...,14,10.893571,6.0,7.660000,8.500000,12.716667
831,Andre Russell,2.0,0,25,2,12.50,4,4,1,0,0,https://www.espncricinfo.com/cricketers/andre-...,14,10.893571,6.0,7.660000,12.500000,12.716667
361,Andre Russell,2.0,0,36,0,18.00,2,1,4,2,0,https://www.espncricinfo.com/cricketers/andre-...,14,10.893571,0.0,7.660000,0.000000,12.716667
39,Andre Russell,1.3,0,15,1,10.00,2,2,0,0,0,https://www.espncricinfo.com/cricketers/andre-...,14,10.893571,7.8,7.660000,15.000000,12.716667

In [18]:
# dot ball percentage
df['dot_ball_percentage'] = ((df['dots']) / (df['overs']*6)) *100
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg,average_bowling_avg,dot_ball_percentage
639,Abhishek Sharma,1.0,0,7,0,7.00,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,0.0,12.000000,0.000000,12.000000,33.333333
22,Abhishek Sharma,4.0,0,24,2,6.00,8,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,12.0,12.000000,12.000000,12.000000,33.333333
503,Abhishek Sharma,1.0,0,10,0,10.00,2,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,0.0,12.000000,0.000000,12.000000,33.333333
363,Abhishek Sharma,1.0,0,10,0,10.00,0,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,0.0,12.000000,0.000000,12.000000,0.000000
11,Aiden Markram,1.0,0,5,0,5.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/aiden-...,2,7.500,0.0,NaN,0.000000,NaN,33.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Yuzvendra Chahal,4.0,0,54,1,13.50,4,4,4,1,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,24.0,17.916667,54.000000,28.180556,16.666667
758,Yuzvendra Chahal,3.0,0,19,2,6.33,7,0,1,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,9.0,17.916667,9.500000,28.180556,38.888889
330,Yuzvendra Chahal,4.0,0,41,0,10.25,3,5,0,1,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,0.0,17.916667,0.000000,28.180556,12.500000
694,Yuzvendra Chahal,4.0,0,11,3,2.75,16,1,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,8.0,17.916667,3.666667,28.180556,66.666667
97,Yuzvendra Chahal,4.0,0,31,2,7.75,5,3,0,1,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,12.0,17.916667,15.500000,28.180556,20.833333

In [19]:
df['average_dot_ball_%'] = df.groupby('bowlerName')['dot_ball_percentage'].transform('mean')
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg,average_bowling_avg,dot_ball_percentage,average_dot_ball_%
639,Abhishek Sharma,1.0,0,7,0,7.00,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,0.0,12.000000,0.000000,12.000000,33.333333,25.000000
22,Abhishek Sharma,4.0,0,24,2,6.00,8,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,12.0,12.000000,12.000000,12.000000,33.333333,25.000000
503,Abhishek Sharma,1.0,0,10,0,10.00,2,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,0.0,12.000000,0.000000,12.000000,33.333333,25.000000
363,Abhishek Sharma,1.0,0,10,0,10.00,0,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,4,8.250,0.0,12.000000,0.000000,12.000000,0.000000,25.000000
11,Aiden Markram,1.0,0,5,0,5.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/aiden-...,2,7.500,0.0,NaN,0.000000,NaN,33.333333,33.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Yuzvendra Chahal,4.0,0,54,1,13.50,4,4,4,1,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,24.0,17.916667,54.000000,28.180556,16.666667,28.981481
758,Yuzvendra Chahal,3.0,0,19,2,6.33,7,0,1,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,9.0,17.916667,9.500000,28.180556,38.888889,28.981481
330,Yuzvendra Chahal,4.0,0,41,0,10.25,3,5,0,1,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,0.0,17.916667,0.000000,28.180556,12.500000,28.981481
694,Yuzvendra Chahal,4.0,0,11,3,2.75,16,1,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,8.0,17.916667,3.666667,28.180556,66.666667,28.981481
97,Yuzvendra Chahal,4.0,0,31,2,7.75,5,3,0,1,0,https://www.espncricinfo.com/cricketers/yuzven...,15,9.344,12.0,17.916667,15.500000,28.180556,20.833333,28.981481

In [20]:
df.fillna(0, inplace=True)
df = df.round(2)
df.to_csv('processed_balling_stats.csv', index=False)

In [21]:
df3 = df[['bowlerName', 'inningbowled', 'avg_bowling_economy', 'avg_bowling_strike', 'average_bowling_avg', 'average_dot_ball_%']].copy()
df3.drop_duplicates(inplace=True)
df3
df3.to_csv('final_bowling_stats.csv', index=False)

In [22]:
# Filter the DataFrame based on the given conditions
filtered_df3 = df3[
    (df3['inningbowled'] > 2) & 
    (df3['avg_bowling_economy'] < 7) & 
    (df3['avg_bowling_strike'] < 20) 
]

# Display the filtered DataFrame
filtered_df3

,bowlerName,inningbowled,avg_bowling_economy,avg_bowling_strike,average_bowling_avg,average_dot_ball_%
198,Jasprit Bumrah,13,6.48,12.48,13.8,48.44

In [23]:
filtered_df2

,batsmanName,inning_batted,Average_SR,Average_Boundary_Percentage,total_runs,batting_average
0,Abdul Samad,12,150.197500,56.338876,182,15.166667
1,Abhishek Sharma,16,189.463125,68.058298,484,30.250000
2,Abishek Porel,11,155.187273,62.941972,325,29.545455
3,Andre Russell,9,189.800000,78.201537,222,24.666667
4,Angkrish Raghuvanshi,7,147.340000,63.758431,163,23.285714
5,Ashutosh Sharma,9,140.294444,46.394475,189,21.000000
6,Daryl Mitchell,13,130.440000,40.261101,318,24.461538
7,David Miller,9,130.523333,43.258038,210,23.333333
8,Deepak Hooda,9,132.268889,53.260512,145,16.111111
9,Dinesh Karthik,4,181.537500,59.718045,90,22.500000
10,Dinesh KarthikÂ â€,9,171.095556,69.533611,236,26.222222
11,Faf du PlessisÂ (c),15,149.500000,67.969884,438,29.200000
12,Hardik PandyaÂ (c),13,132.548462,47.620431,216,16.615385
13,Heinrich KlaasenÂ â€,15,159.089333,55.197611,479,31.933333
14,Ishan KishanÂ â€,14,131.130714,71.040546,320,22.857143
15,Jake Fraser-McGurk,9,208.617778,89.655196,330,36.666667
16,Jonny Bairstow,9,146.812222,71.299616,257,28.555556
17,KL RahulÂ (c)â€,12,133.205000,55.033912,500,41.666667
18,M Shahrukh Khan,7,135.592857,60.685439,127,18.142857
19,Mitchell Marsh,4,127.080000,88.244767,61,15.250000
20,Naman Dhir,7,145.575714,79.541027,140,20.000000
21,Nicholas Pooran,13,157.315385,65.041706,457,35.153846
22,Nitish Kumar Reddy,11,128.843636,49.389620,303,27.545455
23,Phil SaltÂ â€,12,164.010000,77.875875,435,36.250000
24,Prabhsimran Singh,14,143.584286,75.113946,334,23.857143
25,Prithvi Shaw,8,174.007500,77.256460,198,24.750000
26,Rachin Ravindra,10,131.026000,56.363678,222,22.200000
27,Rahul Tewatia,9,146.891111,57.982168,188,20.888889
28,Rahul Tripathi,6,139.155000,57.326872,165,27.500000
29,Rajat Patidar,13,150.966154,58.482860,395,30.384615
30,Ravindra Jadeja,11,139.545455,42.862303,267,24.272727
31,Rilee Rossouw,8,138.832500,68.249861,211,26.375000
32,Rinku Singh,11,151.312727,53.670469,168,15.272727
33,Rishabh PantÂ (c)â€,13,142.459231,56.409786,446,34.307692
34,Riyan Parag,14,141.670000,59.160569,573,40.928571
35,Sai Sudharsan,12,133.021667,49.238810,527,43.916667
36,Sanju SamsonÂ (c)â€,15,131.002000,59.303716,531,35.400000
37,Shai Hope,9,147.035556,61.409029,183,20.333333
38,Shashank Singh,14,131.057143,52.473983,354,25.285714
39,Shivam Dube,14,129.608571,57.330485,396,28.285714
40,Shreyas IyerÂ (c),14,147.632857,63.610683,351,25.071429
41,Shubman GillÂ (c),12,128.738333,53.002629,426,35.500000
42,Sunil Narine,14,149.191429,75.128654,488,34.857143
43,Tilak Varma,13,140.728462,56.651358,416,32.000000
44,Tim David,11,148.917273,54.858212,241,21.909091
45,Travis Head,15,141.268667,68.312439,567,37.800000
46,Tristan Stubbs,13,160.974615,46.071470,378,29.076923
47,Venkatesh Iyer,13,155.910769,57.453914,370,28.461538
48,Virat Kohli,15,155.596667,60.864230,741,49.400000
49,Will Jacks,8,142.110000,57.831142,230,28.750000
50,Yashasvi Jaiswal,15,143.548000,77.918629,435,29.000000

In [24]:
# List of player names to check
players_to_check = filtered_df2['batsmanName'].tolist()

# Check if these names are present in the 'bowlerName' column of filtered_df3
present_players2 = filtered_df3[filtered_df3['bowlerName'].isin(players_to_check)]

# Display the result
present_players2
# Display unique bowler names to verify if players exist

Empty DataFrame
Columns: [bowlerName, inningbowled, avg_bowling_economy, avg_bowling_strike, average_bowling_avg, average_dot_ball_%]
Index: []

In [25]:
selected_players = pd.concat([present_players2['bowlerName'], present_players['bowlerName'], selected_players['batsmanName']], axis=1)
selected_players

    bowlerName       bowlerName        batsmanName
639        NaN  Abhishek Sharma                NaN
22         NaN  Abhishek Sharma                NaN
503        NaN  Abhishek Sharma                NaN
363        NaN  Abhishek Sharma                NaN
675        NaN     Sunil Narine                NaN
525        NaN     Sunil Narine                NaN
38         NaN     Sunil Narine                NaN
145        NaN     Sunil Narine                NaN
216        NaN     Sunil Narine                NaN
294        NaN     Sunil Narine                NaN
436        NaN     Sunil Narine                NaN
740        NaN     Sunil Narine                NaN
600        NaN     Sunil Narine                NaN
494        NaN     Sunil Narine                NaN
359        NaN     Sunil Narine                NaN
3          NaN     Sunil Narine  Sanju SamsonÂ (c)â€
830        NaN     Sunil Narine                NaN
252        NaN     Sunil Narine                NaN
497        NaN       Will Jacks                NaN
370        NaN       Will Jacks                NaN
568        NaN       Will Jacks                NaN
125        NaN       Will Jacks                NaN
170        NaN       Will Jacks                NaN
0          NaN              NaN      KL RahulÂ (c)â€
1          NaN              NaN        Riyan Parag
2          NaN              NaN      Sai Sudharsan
4          NaN              NaN   Shubman GillÂ (c)
5          NaN              NaN        Virat Kohli
6          NaN              NaN                NaN
7          NaN              NaN                NaN
8          NaN              NaN                NaN
9          NaN              NaN                NaN
10         NaN              NaN                NaN
11         NaN              NaN                NaN
12         NaN              NaN                NaN
13         NaN              NaN                NaN
14         NaN              NaN                NaN
15         NaN              NaN                NaN
16         NaN              NaN                NaN
17         NaN              NaN                NaN

In [26]:
# Filter the DataFrame based on the given conditions
filtered_df4 = df3[
    (df3['inningbowled'] > 3) & 
    (df3['avg_bowling_economy'] < 8) & 
    (df3['avg_bowling_strike'] < 16) &
    (df3['average_bowling_avg'] < 25) &
    (df3['average_dot_ball_%'] > 40 ) 
]

# Display the filtered DataFrame
filtered_df4

,bowlerName,inningbowled,avg_bowling_economy,avg_bowling_strike,average_bowling_avg,average_dot_ball_%
198,Jasprit Bumrah,13,6.48,12.48,13.8,48.44

In [27]:
selected_players = pd.concat([filtered_df4['bowlerName'],present_players2['bowlerName'], present_players['bowlerName'], selected_players['batsmanName']], axis=1)
selected_players

         bowlerName bowlerName       bowlerName        batsmanName
198  Jasprit Bumrah        NaN              NaN                NaN
639             NaN        NaN  Abhishek Sharma                NaN
22              NaN        NaN  Abhishek Sharma                NaN
503             NaN        NaN  Abhishek Sharma                NaN
363             NaN        NaN  Abhishek Sharma                NaN
675             NaN        NaN     Sunil Narine                NaN
525             NaN        NaN     Sunil Narine                NaN
38              NaN        NaN     Sunil Narine                NaN
145             NaN        NaN     Sunil Narine                NaN
216             NaN        NaN     Sunil Narine                NaN
294             NaN        NaN     Sunil Narine                NaN
436             NaN        NaN     Sunil Narine                NaN
740             NaN        NaN     Sunil Narine                NaN
600             NaN        NaN     Sunil Narine                NaN
494             NaN        NaN     Sunil Narine                NaN
359             NaN        NaN     Sunil Narine                NaN
3               NaN        NaN     Sunil Narine  Sanju SamsonÂ (c)â€
830             NaN        NaN     Sunil Narine                NaN
252             NaN        NaN     Sunil Narine                NaN
497             NaN        NaN       Will Jacks                NaN
370             NaN        NaN       Will Jacks                NaN
568             NaN        NaN       Will Jacks                NaN
125             NaN        NaN       Will Jacks                NaN
170             NaN        NaN       Will Jacks                NaN
0               NaN        NaN              NaN      KL RahulÂ (c)â€
1               NaN        NaN              NaN        Riyan Parag
2               NaN        NaN              NaN      Sai Sudharsan
4               NaN        NaN              NaN   Shubman GillÂ (c)
5               NaN        NaN              NaN        Virat Kohli
6               NaN        NaN              NaN                NaN
7               NaN        NaN              NaN                NaN
8               NaN        NaN              NaN                NaN
9               NaN        NaN              NaN                NaN
10              NaN        NaN              NaN                NaN
11              NaN        NaN              NaN                NaN
12              NaN        NaN              NaN                NaN
13              NaN        NaN              NaN                NaN
14              NaN        NaN              NaN                NaN
15              NaN        NaN              NaN                NaN
16              NaN        NaN              NaN                NaN
17              NaN        NaN              NaN                NaN

In [28]:
# Combine the 'bowlerName' and 'batsmanName' columns, removing NaN values
player_names = selected_players[['bowlerName', 'batsmanName']].stack().dropna().unique()

# Convert to a list if required
player_names_list = list(player_names)

# Print the list of unique player names
player_names_list

['Jasprit Bumrah',
 'Abhishek Sharma',
 'Sunil Narine',
 'Sanju Samson\xa0(c)â€ ',
 'Will Jacks',
 'KL Rahul\xa0(c)â€ ',
 'Riyan Parag',
 'Sai Sudharsan',
 'Shubman Gill\xa0(c)',
 'Virat Kohli']

In [29]:
df_players = pd.DataFrame(player_names_list, columns=["Player Name"])

# Save the DataFrame to a CSV file
csv_filename = 'final_players_ipl_2024.csv'
df_players.to_csv(csv_filename, index=False)

print(f"Player names saved to {csv_filename}")

Player names saved to final_players_ipl_2024.csv