In [1]:
import pandas as pd
df = pd.read_csv('bowling.csv')
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,match_id
0,Trent Boult,4.0,0,30,3,7.50,12,6,0,0,0,https://www.espncricinfo.com/cricketers/trent-...,scorecard
1,Jasprit Bumrah,4.0,0,28,0,7.00,8,3,0,0,0,https://www.espncricinfo.com/cricketers/jaspri...,scorecard
2,Jayant Yadav,4.0,0,25,1,6.25,7,1,0,0,0,https://www.espncricinfo.com/cricketers/jayant...,scorecard
3,Nathan Coulter-Nile,4.0,0,29,2,7.25,10,3,1,1,0,https://www.espncricinfo.com/cricketers/nathan...,scorecard
4,Krunal Pandya,3.0,0,30,0,10.00,3,1,2,1,0,https://www.espncricinfo.com/cricketers/krunal...,scorecard
...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,Trent Boult,3.2,0,23,1,6.90,12,5,0,0,0,https://www.espncricinfo.com/cricketers/trent-...,scorecard
686,James Pattinson,4.0,0,27,1,6.75,10,3,0,1,0,https://www.espncricinfo.com/cricketers/james-...,scorecard
687,Jasprit Bumrah,4.0,0,43,1,10.75,10,4,2,1,1,https://www.espncricinfo.com/cricketers/jaspri...,scorecard
688,Krunal Pandya,4.0,0,37,1,9.25,2,1,2,1,0,https://www.espncricinfo.com/cricketers/krunal...,scorecard
689,Rahul Chahar,4.0,0,36,1,9.00,2,3,1,0,0,https://www.espncricinfo.com/cricketers/rahul-...,scorecard

In [2]:
df.describe()

,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls
count,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000
mean,3.372609,0.028986,27.637681,0.905797,8.380522,7.337681,2.292754,1.063768,0.652174,0.076812
std,0.937319,0.176321,10.797477,0.976410,2.934508,3.660942,1.705819,1.193350,0.933587,0.297374
min,0.100000,0.000000,2.000000,0.000000,1.750000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,20.000000,0.000000,6.315000,5.000000,1.000000,0.000000,0.000000,0.000000
50%,4.000000,0.000000,27.000000,1.000000,8.000000,7.000000,2.000000,1.000000,0.000000,0.000000
75%,4.000000,0.000000,34.750000,1.750000,10.000000,10.000000,3.000000,2.000000,1.000000,0.000000
max,4.000000,2.000000,64.000000,5.000000,28.000000,17.000000,9.000000,6.000000,5.000000,2.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   bowlerName   690 non-null    object
 1   overs        690 non-null    float64
 2   maidens      690 non-null    int64
 3   runs         690 non-null    int64
 4   wickets      690 non-null    int64
 5   economy      690 non-null    float64
 6   dots         690 non-null    int64
 7   fours        690 non-null    int64
 8   sixes        690 non-null    int64
 9   wides        690 non-null    int64
 10  no_balls     690 non-null    int64
 11  bowler_link  690 non-null    object
 12  match_id     690 non-null    object
dtypes: float64(2), int64(8), object(3)
memory usage: 70.2+ KB

In [4]:
df.drop(['match_id'], axis=1, inplace=True)

In [5]:
df = df.sort_values(by='bowlerName')

print(df)

           bowlerName  overs  maidens  runs  wickets  economy  dots  fours  \
497       Abdul Samad    2.0        0    27        0    13.50     1      1
448       Abdul Samad    1.0        0    28        0    28.00     1      1
541       Abdul Samad    4.0        0    41        1    10.25     7      2
446   Abhishek Sharma    1.0        0    15        1    15.00     2      0
399   Abhishek Sharma    1.0        0    11        0    11.00     1      2
..                ...    ...      ...   ...      ...      ...   ...    ...
585  Yuzvendra Chahal    4.0        0    48        1    12.00     2      1
147  Yuzvendra Chahal    4.0        0    37        2     9.25     8      3
625  Yuzvendra Chahal    4.0        0    25        1     6.25     8      2
475  Yuzvendra Chahal    3.0        0    29        0     9.66     4      3
521  Yuzvendra Chahal    4.0        0    24        3     6.00    10      0

     sixes  wides  no_balls                                        bowler_link
497      2      0         0  https://www.espncricinfo.com/cricketers/abdul-...
448      4      0         0  https://www.espncricinfo.com/cricketers/abdul-...
541      2      1         0  https://www.espncricinfo.com/cricketers/abdul-...
446      2      0         0  https://www.espncricinfo.com/cricketers/abhish...
399      0      0         0  https://www.espncricinfo.com/cricketers/abhish...
..     ...    ...       ...                                                ...
585      4      0         0  https://www.espncricinfo.com/cricketers/yuzven...
147      2      0         0  https://www.espncricinfo.com/cricketers/yuzven...
625      0      0         0  https://www.espncricinfo.com/cricketers/yuzven...
475      1      0         0  https://www.espncricinfo.com/cricketers/yuzven...
521      2      0         0  https://www.espncricinfo.com/cricketers/yuzven...

[690 rows x 12 columns]

In [6]:
name_counts = df['bowlerName'].value_counts()

# Step 2: Add a new column to the DataFrame that shows how many times each player appears
df['inningbowled'] = df['bowlerName'].map(name_counts)

# Step 3: Display the updated DataFrame
print(df)

           bowlerName  overs  maidens  runs  wickets  economy  dots  fours  \
497       Abdul Samad    2.0        0    27        0    13.50     1      1
448       Abdul Samad    1.0        0    28        0    28.00     1      1
541       Abdul Samad    4.0        0    41        1    10.25     7      2
446   Abhishek Sharma    1.0        0    15        1    15.00     2      0
399   Abhishek Sharma    1.0        0    11        0    11.00     1      2
..                ...    ...      ...   ...      ...      ...   ...    ...
585  Yuzvendra Chahal    4.0        0    48        1    12.00     2      1
147  Yuzvendra Chahal    4.0        0    37        2     9.25     8      3
625  Yuzvendra Chahal    4.0        0    25        1     6.25     8      2
475  Yuzvendra Chahal    3.0        0    29        0     9.66     4      3
521  Yuzvendra Chahal    4.0        0    24        3     6.00    10      0

     sixes  wides  no_balls  \
497      2      0         0
448      4      0         0
541      2      1         0
446      2      0         0
399      0      0         0
..     ...    ...       ...
585      4      0         0
147      2      0         0
625      0      0         0
475      1      0         0
521      2      0         0

                                           bowler_link  inningbowled
497  https://www.espncricinfo.com/cricketers/abdul-...             3
448  https://www.espncricinfo.com/cricketers/abdul-...             3
541  https://www.espncricinfo.com/cricketers/abdul-...             3
446  https://www.espncricinfo.com/cricketers/abhish...             6
399  https://www.espncricinfo.com/cricketers/abhish...             6
..                                                 ...           ...
585  https://www.espncricinfo.com/cricketers/yuzven...            15
147  https://www.espncricinfo.com/cricketers/yuzven...            15
625  https://www.espncricinfo.com/cricketers/yuzven...            15
475  https://www.espncricinfo.com/cricketers/yuzven...            15
521  https://www.espncricinfo.com/cricketers/yuzven...            15

[690 rows x 13 columns]

In [7]:
import pandas as pd

# Load the CSV file and make sure to reference the correct column name
players_to_check_df = pd.read_csv('temp.csv')

# Convert the 'batsmanName' column to a list
players_to_check = players_to_check_df['batsmanName'].tolist()

# Filter the DataFrame to find players who have bowled more than 2 innings
filtered_df = df[df['inningbowled'] > 2]

# Check if the player names are present in the filtered DataFrame
present_players = filtered_df[filtered_df['bowlerName'].isin(players_to_check)]

# Display the result
present_players

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled
118,Ben Stokes,4.0,0,32,2,8.00,6,2,1,3,0,https://www.espncricinfo.com/cricketers/ben-st...,6
265,Ben Stokes,3.0,0,27,0,9.00,4,2,1,0,0,https://www.espncricinfo.com/cricketers/ben-st...,6
395,Ben Stokes,1.0,0,7,0,7.00,2,1,0,0,0,https://www.espncricinfo.com/cricketers/ben-st...,6
237,Ben Stokes,2.0,0,24,0,12.00,5,0,3,1,0,https://www.espncricinfo.com/cricketers/ben-st...,6
347,Ben Stokes,2.0,0,24,0,12.00,2,3,0,0,2,https://www.espncricinfo.com/cricketers/ben-st...,6
71,Ben Stokes,3.0,0,40,0,13.33,5,2,4,0,0,https://www.espncricinfo.com/cricketers/ben-st...,6
285,Kieron Pollard,2.0,0,26,0,13.00,3,1,2,2,0,https://www.espncricinfo.com/cricketers/kieron...,11
504,Kieron Pollard,3.0,0,20,0,6.66,6,1,0,2,0,https://www.espncricinfo.com/cricketers/kieron...,11
45,Kieron Pollard,4.0,0,36,1,9.00,8,2,2,3,0,https://www.espncricinfo.com/cricketers/kieron...,11
382,Kieron Pollard,1.0,0,10,0,10.00,0,1,0,0,0,https://www.espncricinfo.com/cricketers/kieron...,11
142,Kieron Pollard,1.0,0,5,1,5.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/kieron...,11
5,Kieron Pollard,1.0,0,13,0,13.00,2,1,1,1,0,https://www.espncricinfo.com/cricketers/kieron...,11
471,Kieron Pollard,2.0,0,24,1,12.00,3,3,1,0,0,https://www.espncricinfo.com/cricketers/kieron...,11
581,Kieron Pollard,1.0,0,13,0,13.00,0,2,0,0,0,https://www.espncricinfo.com/cricketers/kieron...,11
222,Kieron Pollard,1.0,0,4,0,4.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/kieron...,11
644,Kieron Pollard,3.0,0,21,1,7.00,4,2,0,1,0,https://www.espncricinfo.com/cricketers/kieron...,11
181,Kieron Pollard,2.0,0,18,0,9.00,3,0,1,3,0,https://www.espncricinfo.com/cricketers/kieron...,11

In [8]:
selected_players =pd.read_csv('selected_players.csv')
selected_players = pd.concat([present_players['bowlerName'], selected_players['batsmanName']], axis=1)
selected_players

         bowlerName        batsmanName
118      Ben Stokes                NaN
265      Ben Stokes                NaN
395      Ben Stokes                NaN
237      Ben Stokes                NaN
347      Ben Stokes                NaN
71       Ben Stokes                NaN
285  Kieron Pollard                NaN
504  Kieron Pollard                NaN
45   Kieron Pollard                NaN
382  Kieron Pollard                NaN
142  Kieron Pollard                NaN
5    Kieron Pollard                NaN
471  Kieron Pollard                NaN
581  Kieron Pollard                NaN
222  Kieron Pollard                NaN
644  Kieron Pollard                NaN
181  Kieron Pollard                NaN
0               NaN         Ben Stokes
1               NaN        Chris Gayle
2               NaN       Ishan Kishan
3               NaN     Mayank Agarwal
4               NaN  Wriddhiman SahaÂ â€
6               NaN                NaN

In [9]:
# PARAMETERS
# Batting Average > 15
# Strike Rate > 130
# Innings Batted > 2
# Innings Bowled > 4
# Bowling Economy > 7
# Bowling Strike Rate > 20

In [10]:
df2 = pd.read_csv('final_batting_stats.csv')
df2

,batsmanName,inning_batted,Average_SR,Average_Boundary_Percentage,total_runs,batting_average
0,AB de Villiers,2,162.775000,66.736695,79,39.500000
1,AB de VilliersÂ â€,12,136.715833,52.288786,375,31.250000
2,Aaron Finch,12,105.430000,58.341588,268,22.333333
3,Abdul Samad,8,142.603750,55.993117,111,13.875000
4,Abhishek Sharma,7,129.677143,40.920562,71,10.142857
...,...,...,...,...,...,...
139,Virat KohliÂ (c),15,102.825333,21.307264,466,31.066667
140,Washington Sundar,9,119.461111,45.764921,111,12.333333
141,Wriddhiman SahaÂ â€,4,135.212500,54.332449,214,53.500000
142,Yashasvi Jaiswal,3,64.813333,56.862745,40,13.333333
143,Yuzvendra Chahal,2,16.665000,0.000000,1,0.500000

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   batsmanName                  144 non-null    object
 1   inning_batted                144 non-null    int64
 2   Average_SR                   144 non-null    float64
 3   Average_Boundary_Percentage  134 non-null    float64
 4   total_runs                   144 non-null    int64
 5   batting_average              144 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 6.9+ KB

In [12]:
filtered_df2 = df2[
    (df2['batting_average'] > 15) &
    (df2['Average_SR'] > 127) &
    (df2['inning_batted'] > 2)
]

filtered_df2.reset_index(drop=True, inplace=True)
filtered_df2

,batsmanName,inning_batted,Average_SR,Average_Boundary_Percentage,total_runs,batting_average
0,AB de VilliersÂ â€,12,136.715833,52.288786,375,31.250000
1,Ben Stokes,8,135.017500,64.078892,285,35.625000
2,Chris Gayle,7,135.895714,61.544758,288,41.142857
3,Eoin MorganÂ (c),7,148.384286,66.037492,243,34.714286
4,Hardik Pandya,13,160.463846,66.442020,281,21.615385
5,Ishan Kishan,13,132.149231,60.307419,516,39.692308
6,Jason Holder,4,128.957500,42.744755,66,16.500000
7,Jos Buttler,5,135.184000,46.878788,160,32.000000
8,Jos ButtlerÂ â€,7,151.545714,61.368512,168,24.000000
9,Kane Williamson,11,127.152727,42.253686,317,28.818182
10,Kieron Pollard,10,174.248000,65.619420,258,25.800000
11,Marcus Stoinis,17,127.006471,47.255179,352,20.705882
12,Mayank Agarwal,11,143.500909,52.575991,424,38.545455
13,Nicholas Pooran,13,181.657692,58.624262,320,24.615385
14,Quinton de KockÂ â€,16,127.836250,59.052875,503,31.437500
15,Rahul Tewatia,11,131.180909,51.713349,255,23.181818
16,Ravindra Jadeja,11,174.937273,59.240533,232,21.090909
17,Robin Uthappa,12,129.205000,49.642224,196,16.333333
18,Sam Curran,11,138.814545,58.813261,186,16.909091
19,Sanju SamsonÂ â€,7,130.128571,54.806890,222,31.714286
20,Shimron Hetmyer,11,143.520000,63.076873,185,16.818182
21,Tom Curran,4,188.715000,53.703704,83,20.750000
22,Wriddhiman SahaÂ â€,4,135.212500,54.332449,214,53.500000

In [13]:
df['avg_bowling_economy'] = df.groupby('bowlerName')['economy'].transform('mean')
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy
497,Abdul Samad,2.0,0,27,0,13.50,1,1,2,0,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000
448,Abdul Samad,1.0,0,28,0,28.00,1,1,4,0,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000
541,Abdul Samad,4.0,0,41,1,10.25,7,2,2,1,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000
446,Abhishek Sharma,1.0,0,15,1,15.00,2,0,2,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333
399,Abhishek Sharma,1.0,0,11,0,11.00,1,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,Yuzvendra Chahal,4.0,0,48,1,12.00,2,1,4,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000
147,Yuzvendra Chahal,4.0,0,37,2,9.25,8,3,2,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000
625,Yuzvendra Chahal,4.0,0,25,1,6.25,8,2,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000
475,Yuzvendra Chahal,3.0,0,29,0,9.66,4,3,1,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000
521,Yuzvendra Chahal,4.0,0,24,3,6.00,10,0,2,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000

bowling strike rate = avg no of balls required to take a wicket = total run / total wickets

In [14]:
import numpy as np

# Calculate the bowling strike rate and set to 0 if wickets = 0
df['bowling SR'] = np.where(df['wickets'] == 0, 0, (df['overs'] * 6) / df['wickets'])

# Display the updated DataFrame
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR
497,Abdul Samad,2.0,0,27,0,13.50,1,1,2,0,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,0.0
448,Abdul Samad,1.0,0,28,0,28.00,1,1,4,0,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,0.0
541,Abdul Samad,4.0,0,41,1,10.25,7,2,2,1,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,24.0
446,Abhishek Sharma,1.0,0,15,1,15.00,2,0,2,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,6.0
399,Abhishek Sharma,1.0,0,11,0,11.00,1,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,Yuzvendra Chahal,4.0,0,48,1,12.00,2,1,4,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,24.0
147,Yuzvendra Chahal,4.0,0,37,2,9.25,8,3,2,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,12.0
625,Yuzvendra Chahal,4.0,0,25,1,6.25,8,2,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,24.0
475,Yuzvendra Chahal,3.0,0,29,0,9.66,4,3,1,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,0.0
521,Yuzvendra Chahal,4.0,0,24,3,6.00,10,0,2,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,8.0

In [15]:
# Step 1: Filter the DataFrame to exclude rows where economy is 0
filtered_df = df[df['bowling SR'] != 0]

# Step 2: Calculate the average economy for each bowler and add it to the original DataFrame
df['avg_bowling_strike'] = df.groupby('bowlerName')['bowling SR'].transform(lambda x: x[x != 0].mean())

# Display the updated DataFrame
df.head(20)

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike
497,Abdul Samad,2.0,0,27,0,13.50,1,1,2,0,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,0.0,24.0
448,Abdul Samad,1.0,0,28,0,28.00,1,1,4,0,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,0.0,24.0
541,Abdul Samad,4.0,0,41,1,10.25,7,2,2,1,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,24.0,24.0
446,Abhishek Sharma,1.0,0,15,1,15.00,2,0,2,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,6.0,9.0
399,Abhishek Sharma,1.0,0,11,0,11.00,1,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,0.0,9.0
611,Abhishek Sharma,1.0,0,11,0,11.00,0,0,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,0.0,9.0
539,Abhishek Sharma,1.0,0,4,0,4.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,0.0,9.0
574,Abhishek Sharma,4.0,0,34,0,8.50,4,0,2,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,0.0,9.0
662,Abhishek Sharma,2.0,0,16,1,8.00,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,12.0,9.0
586,Adam Zampa,4.0,0,53,1,13.25,3,1,5,0,0,https://www.espncricinfo.com/cricketers/adam-z...,3,8.416667,24.0,24.0
522,Adam Zampa,3.0,0,27,0,9.00,3,2,1,0,0,https://www.espncricinfo.com/cricketers/adam-z...,3,8.416667,0.0,24.0
31,Adam Zampa,4.0,0,12,1,3.00,14,0,0,1,0,https://www.espncricinfo.com/cricketers/adam-z...,3,8.416667,24.0,24.0
621,Amit Mishra,4.0,0,23,0,5.75,6,1,0,0,0,https://www.espncricinfo.com/cricketers/amit-m...,3,7.166667,0.0,12.0
569,Amit Mishra,4.0,0,35,2,8.75,6,3,1,0,0,https://www.espncricinfo.com/cricketers/amit-m...,3,7.166667,12.0,12.0
517,Amit Mishra,2.0,0,14,1,7.00,5,0,1,0,1,https://www.espncricinfo.com/cricketers/amit-m...,3,7.166667,12.0,12.0
510,Andre Russell,4.0,0,29,2,7.25,11,2,2,0,0,https://www.espncricinfo.com/cricketers/andre-...,7,9.642857,12.0,14.4
295,Andre Russell,2.0,0,29,0,14.50,3,6,0,0,1,https://www.espncricinfo.com/cricketers/andre-...,7,9.642857,0.0,14.4
459,Andre Russell,2.0,0,18,1,9.00,5,2,1,0,0,https://www.espncricinfo.com/cricketers/andre-...,7,9.642857,12.0,14.4
369,Andre Russell,4.0,0,51,1,12.75,7,3,3,3,1,https://www.espncricinfo.com/cricketers/andre-...,7,9.642857,24.0,14.4
638,Andre Russell,2.0,0,17,1,8.50,4,1,1,0,0,https://www.espncricinfo.com/cricketers/andre-...,7,9.642857,12.0,14.4

In [16]:
import numpy as np

# Calculate the bowling strike rate and set to 0 if wickets = 0
df['bowling_avg'] = np.where(df['wickets'] == 0, 0, (df['runs']) / df['wickets'])

# Display the updated DataFrame
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg
497,Abdul Samad,2.0,0,27,0,13.50,1,1,2,0,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,0.0,24.000000,0.0
448,Abdul Samad,1.0,0,28,0,28.00,1,1,4,0,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,0.0,24.000000,0.0
541,Abdul Samad,4.0,0,41,1,10.25,7,2,2,1,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,24.0,24.000000,41.0
446,Abhishek Sharma,1.0,0,15,1,15.00,2,0,2,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,6.0,9.000000,15.0
399,Abhishek Sharma,1.0,0,11,0,11.00,1,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,0.0,9.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,Yuzvendra Chahal,4.0,0,48,1,12.00,2,1,4,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,24.0,17.176923,48.0
147,Yuzvendra Chahal,4.0,0,37,2,9.25,8,3,2,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,12.0,17.176923,18.5
625,Yuzvendra Chahal,4.0,0,25,1,6.25,8,2,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,24.0,17.176923,25.0
475,Yuzvendra Chahal,3.0,0,29,0,9.66,4,3,1,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,0.0,17.176923,0.0
521,Yuzvendra Chahal,4.0,0,24,3,6.00,10,0,2,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,8.0,17.176923,8.0

In [17]:
# Step 1: Filter the DataFrame to exclude rows where bowling_avg is 0
filtered_df = df[df['bowling_avg'] != 0]

# Step 2: Calculate the average bowling_avg for each bowler and add it to the original DataFrame
df['average_bowling_avg'] = df.groupby('bowlerName')['bowling_avg'].transform(lambda x: x[x != 0].mean())

# Display the updated DataFrame
df.head(20)

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg,average_bowling_avg
497,Abdul Samad,2.0,0,27,0,13.50,1,1,2,0,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,0.0,24.0,0.0,41.00
448,Abdul Samad,1.0,0,28,0,28.00,1,1,4,0,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,0.0,24.0,0.0,41.00
541,Abdul Samad,4.0,0,41,1,10.25,7,2,2,1,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,24.0,24.0,41.0,41.00
446,Abhishek Sharma,1.0,0,15,1,15.00,2,0,2,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,6.0,9.0,15.0,15.50
399,Abhishek Sharma,1.0,0,11,0,11.00,1,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,0.0,9.0,0.0,15.50
611,Abhishek Sharma,1.0,0,11,0,11.00,0,0,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,0.0,9.0,0.0,15.50
539,Abhishek Sharma,1.0,0,4,0,4.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,0.0,9.0,0.0,15.50
574,Abhishek Sharma,4.0,0,34,0,8.50,4,0,2,1,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,0.0,9.0,0.0,15.50
662,Abhishek Sharma,2.0,0,16,1,8.00,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,12.0,9.0,16.0,15.50
586,Adam Zampa,4.0,0,53,1,13.25,3,1,5,0,0,https://www.espncricinfo.com/cricketers/adam-z...,3,8.416667,24.0,24.0,53.0,32.50
522,Adam Zampa,3.0,0,27,0,9.00,3,2,1,0,0,https://www.espncricinfo.com/cricketers/adam-z...,3,8.416667,0.0,24.0,0.0,32.50
31,Adam Zampa,4.0,0,12,1,3.00,14,0,0,1,0,https://www.espncricinfo.com/cricketers/adam-z...,3,8.416667,24.0,24.0,12.0,32.50
621,Amit Mishra,4.0,0,23,0,5.75,6,1,0,0,0,https://www.espncricinfo.com/cricketers/amit-m...,3,7.166667,0.0,12.0,0.0,15.75
569,Amit Mishra,4.0,0,35,2,8.75,6,3,1,0,0,https://www.espncricinfo.com/cricketers/amit-m...,3,7.166667,12.0,12.0,17.5,15.75
517,Amit Mishra,2.0,0,14,1,7.00,5,0,1,0,1,https://www.espncricinfo.com/cricketers/amit-m...,3,7.166667,12.0,12.0,14.0,15.75
510,Andre Russell,4.0,0,29,2,7.25,11,2,2,0,0,https://www.espncricinfo.com/cricketers/andre-...,7,9.642857,12.0,14.4,14.5,23.30
295,Andre Russell,2.0,0,29,0,14.50,3,6,0,0,1,https://www.espncricinfo.com/cricketers/andre-...,7,9.642857,0.0,14.4,0.0,23.30
459,Andre Russell,2.0,0,18,1,9.00,5,2,1,0,0,https://www.espncricinfo.com/cricketers/andre-...,7,9.642857,12.0,14.4,18.0,23.30
369,Andre Russell,4.0,0,51,1,12.75,7,3,3,3,1,https://www.espncricinfo.com/cricketers/andre-...,7,9.642857,24.0,14.4,51.0,23.30
638,Andre Russell,2.0,0,17,1,8.50,4,1,1,0,0,https://www.espncricinfo.com/cricketers/andre-...,7,9.642857,12.0,14.4,17.0,23.30

In [18]:
# dot ball percentage
df['dot_ball_percentage'] = ((df['dots']) / (df['overs']*6)) *100
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg,average_bowling_avg,dot_ball_percentage
497,Abdul Samad,2.0,0,27,0,13.50,1,1,2,0,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,0.0,24.000000,0.0,41.0,8.333333
448,Abdul Samad,1.0,0,28,0,28.00,1,1,4,0,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,0.0,24.000000,0.0,41.0,16.666667
541,Abdul Samad,4.0,0,41,1,10.25,7,2,2,1,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,24.0,24.000000,41.0,41.0,29.166667
446,Abhishek Sharma,1.0,0,15,1,15.00,2,0,2,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,6.0,9.000000,15.0,15.5,33.333333
399,Abhishek Sharma,1.0,0,11,0,11.00,1,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,0.0,9.000000,0.0,15.5,16.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,Yuzvendra Chahal,4.0,0,48,1,12.00,2,1,4,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,24.0,17.176923,48.0,20.5,8.333333
147,Yuzvendra Chahal,4.0,0,37,2,9.25,8,3,2,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,12.0,17.176923,18.5,20.5,33.333333
625,Yuzvendra Chahal,4.0,0,25,1,6.25,8,2,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,24.0,17.176923,25.0,20.5,33.333333
475,Yuzvendra Chahal,3.0,0,29,0,9.66,4,3,1,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,0.0,17.176923,0.0,20.5,22.222222
521,Yuzvendra Chahal,4.0,0,24,3,6.00,10,0,2,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,8.0,17.176923,8.0,20.5,41.666667

In [19]:
df['average_dot_ball_%'] = df.groupby('bowlerName')['dot_ball_percentage'].transform('mean')
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg,average_bowling_avg,dot_ball_percentage,average_dot_ball_%
497,Abdul Samad,2.0,0,27,0,13.50,1,1,2,0,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,0.0,24.000000,0.0,41.0,8.333333,18.055556
448,Abdul Samad,1.0,0,28,0,28.00,1,1,4,0,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,0.0,24.000000,0.0,41.0,16.666667,18.055556
541,Abdul Samad,4.0,0,41,1,10.25,7,2,2,1,0,https://www.espncricinfo.com/cricketers/abdul-...,3,17.250000,24.0,24.000000,41.0,41.0,29.166667,18.055556
446,Abhishek Sharma,1.0,0,15,1,15.00,2,0,2,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,6.0,9.000000,15.0,15.5,33.333333,19.444444
399,Abhishek Sharma,1.0,0,11,0,11.00,1,2,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,6,9.583333,0.0,9.000000,0.0,15.5,16.666667,19.444444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,Yuzvendra Chahal,4.0,0,48,1,12.00,2,1,4,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,24.0,17.176923,48.0,20.5,8.333333,34.534050
147,Yuzvendra Chahal,4.0,0,37,2,9.25,8,3,2,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,12.0,17.176923,18.5,20.5,33.333333,34.534050
625,Yuzvendra Chahal,4.0,0,25,1,6.25,8,2,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,24.0,17.176923,25.0,20.5,33.333333,34.534050
475,Yuzvendra Chahal,3.0,0,29,0,9.66,4,3,1,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,0.0,17.176923,0.0,20.5,22.222222,34.534050
521,Yuzvendra Chahal,4.0,0,24,3,6.00,10,0,2,0,0,https://www.espncricinfo.com/cricketers/yuzven...,15,7.188000,8.0,17.176923,8.0,20.5,41.666667,34.534050

In [20]:
df.fillna(0, inplace=True)
df = df.round(2)
df.to_csv('processed_balling_stats.csv', index=False)

In [21]:
df3 = df[['bowlerName', 'inningbowled', 'avg_bowling_economy', 'avg_bowling_strike', 'average_bowling_avg', 'average_dot_ball_%']].copy()
df3.drop_duplicates(inplace=True)
df3
df3.to_csv('final_bowling_stats.csv', index=False)

In [22]:
# Filter the DataFrame based on the given conditions
filtered_df3 = df3[
    (df3['inningbowled'] > 2) & 
    (df3['avg_bowling_economy'] < 7) & 
    (df3['avg_bowling_strike'] < 20) 
]

# Display the filtered DataFrame
filtered_df3

,bowlerName,inningbowled,avg_bowling_economy,avg_bowling_strike,average_bowling_avg,average_dot_ball_%
408,Chris Morris,9,6.98,14.08,18.67,46.65
687,Jasprit Bumrah,15,6.73,12.00,13.62,48.61
524,Jofra Archer,14,6.58,17.33,17.03,52.50
498,Rashid Khan,16,5.38,18.00,17.29,43.75
330,Varun Chakravarthy,13,6.85,18.48,22.75,35.58
401,Vijay Shankar,5,6.77,14.55,15.00,40.83
97,Washington Sundar,15,6.23,18.50,14.83,38.61

In [23]:
filtered_df2

,batsmanName,inning_batted,Average_SR,Average_Boundary_Percentage,total_runs,batting_average
0,AB de VilliersÂ â€,12,136.715833,52.288786,375,31.250000
1,Ben Stokes,8,135.017500,64.078892,285,35.625000
2,Chris Gayle,7,135.895714,61.544758,288,41.142857
3,Eoin MorganÂ (c),7,148.384286,66.037492,243,34.714286
4,Hardik Pandya,13,160.463846,66.442020,281,21.615385
5,Ishan Kishan,13,132.149231,60.307419,516,39.692308
6,Jason Holder,4,128.957500,42.744755,66,16.500000
7,Jos Buttler,5,135.184000,46.878788,160,32.000000
8,Jos ButtlerÂ â€,7,151.545714,61.368512,168,24.000000
9,Kane Williamson,11,127.152727,42.253686,317,28.818182
10,Kieron Pollard,10,174.248000,65.619420,258,25.800000
11,Marcus Stoinis,17,127.006471,47.255179,352,20.705882
12,Mayank Agarwal,11,143.500909,52.575991,424,38.545455
13,Nicholas Pooran,13,181.657692,58.624262,320,24.615385
14,Quinton de KockÂ â€,16,127.836250,59.052875,503,31.437500
15,Rahul Tewatia,11,131.180909,51.713349,255,23.181818
16,Ravindra Jadeja,11,174.937273,59.240533,232,21.090909
17,Robin Uthappa,12,129.205000,49.642224,196,16.333333
18,Sam Curran,11,138.814545,58.813261,186,16.909091
19,Sanju SamsonÂ â€,7,130.128571,54.806890,222,31.714286
20,Shimron Hetmyer,11,143.520000,63.076873,185,16.818182
21,Tom Curran,4,188.715000,53.703704,83,20.750000
22,Wriddhiman SahaÂ â€,4,135.212500,54.332449,214,53.500000

In [24]:
# List of player names to check
players_to_check = filtered_df2['batsmanName'].tolist()

# Check if these names are present in the 'bowlerName' column of filtered_df3
present_players2 = filtered_df3[filtered_df3['bowlerName'].isin(players_to_check)]

# Display the result
present_players2
# Display unique bowler names to verify if players exist

Empty DataFrame
Columns: [bowlerName, inningbowled, avg_bowling_economy, avg_bowling_strike, average_bowling_avg, average_dot_ball_%]
Index: []

In [25]:
selected_players = pd.concat([present_players2['bowlerName'], present_players['bowlerName'], selected_players['batsmanName']], axis=1)
selected_players

    bowlerName      bowlerName        batsmanName
118        NaN      Ben Stokes                NaN
265        NaN      Ben Stokes                NaN
395        NaN      Ben Stokes                NaN
237        NaN      Ben Stokes                NaN
347        NaN      Ben Stokes                NaN
71         NaN      Ben Stokes                NaN
285        NaN  Kieron Pollard                NaN
504        NaN  Kieron Pollard                NaN
45         NaN  Kieron Pollard                NaN
382        NaN  Kieron Pollard                NaN
142        NaN  Kieron Pollard                NaN
5          NaN  Kieron Pollard                NaN
471        NaN  Kieron Pollard                NaN
581        NaN  Kieron Pollard                NaN
222        NaN  Kieron Pollard                NaN
644        NaN  Kieron Pollard                NaN
181        NaN  Kieron Pollard                NaN
0          NaN             NaN         Ben Stokes
1          NaN             NaN        Chris Gayle
2          NaN             NaN       Ishan Kishan
3          NaN             NaN     Mayank Agarwal
4          NaN             NaN  Wriddhiman SahaÂ â€
6          NaN             NaN                NaN

In [26]:
# Filter the DataFrame based on the given conditions
filtered_df4 = df3[
    (df3['inningbowled'] > 3) & 
    (df3['avg_bowling_economy'] < 8) & 
    (df3['avg_bowling_strike'] < 16) &
    (df3['average_bowling_avg'] < 25) &
    (df3['average_dot_ball_%'] > 40 ) 
]

# Display the filtered DataFrame
filtered_df4

,bowlerName,inningbowled,avg_bowling_economy,avg_bowling_strike,average_bowling_avg,average_dot_ball_%
536,Bhuvneshwar Kumar,4,7.12,15.30,16.25,46.82
408,Chris Morris,9,6.98,14.08,18.67,46.65
687,Jasprit Bumrah,15,6.73,12.00,13.62,48.61
211,Pat Cummins,14,7.95,15.33,14.94,45.04
41,Trent Boult,15,7.84,14.71,19.85,46.94
401,Vijay Shankar,5,6.77,14.55,15.00,40.83

In [27]:
selected_players = pd.concat([filtered_df4['bowlerName'],present_players2['bowlerName'], present_players['bowlerName'], selected_players['batsmanName']], axis=1)
selected_players

            bowlerName bowlerName      bowlerName        batsmanName
536  Bhuvneshwar Kumar        NaN             NaN                NaN
408       Chris Morris        NaN             NaN                NaN
687     Jasprit Bumrah        NaN             NaN                NaN
211        Pat Cummins        NaN             NaN                NaN
41         Trent Boult        NaN             NaN                NaN
401      Vijay Shankar        NaN             NaN                NaN
118                NaN        NaN      Ben Stokes                NaN
265                NaN        NaN      Ben Stokes                NaN
395                NaN        NaN      Ben Stokes                NaN
237                NaN        NaN      Ben Stokes                NaN
347                NaN        NaN      Ben Stokes                NaN
71                 NaN        NaN      Ben Stokes                NaN
285                NaN        NaN  Kieron Pollard                NaN
504                NaN        NaN  Kieron Pollard                NaN
45                 NaN        NaN  Kieron Pollard                NaN
382                NaN        NaN  Kieron Pollard                NaN
142                NaN        NaN  Kieron Pollard                NaN
5                  NaN        NaN  Kieron Pollard                NaN
471                NaN        NaN  Kieron Pollard                NaN
581                NaN        NaN  Kieron Pollard                NaN
222                NaN        NaN  Kieron Pollard                NaN
644                NaN        NaN  Kieron Pollard                NaN
181                NaN        NaN  Kieron Pollard                NaN
0                  NaN        NaN             NaN         Ben Stokes
1                  NaN        NaN             NaN        Chris Gayle
2                  NaN        NaN             NaN       Ishan Kishan
3                  NaN        NaN             NaN     Mayank Agarwal
4                  NaN        NaN             NaN  Wriddhiman SahaÂ â€
6                  NaN        NaN             NaN                NaN

In [28]:
# Combine the 'bowlerName' and 'batsmanName' columns, removing NaN values
player_names = selected_players[['bowlerName', 'batsmanName']].stack().dropna().unique()

# Convert to a list if required
player_names_list = list(player_names)

# Print the list of unique player names
player_names_list

['Bhuvneshwar Kumar',
 'Chris Morris',
 'Jasprit Bumrah',
 'Pat Cummins',
 'Trent Boult',
 'Vijay Shankar',
 'Ben Stokes',
 'Kieron Pollard',
 'Chris Gayle',
 'Ishan Kishan',
 'Mayank Agarwal',
 'Wriddhiman Saha\xa0â€ ']

In [29]:
df_players = pd.DataFrame(player_names_list, columns=["Player Name"])

# Save the DataFrame to a CSV file
csv_filename = 'final_players_ipl_2020.csv'
df_players.to_csv(csv_filename, index=False)

print(f"Player names saved to {csv_filename}")

Player names saved to final_players_ipl_2020.csv