In [1]:
import pandas as pd
df = pd.read_csv('bowling.csv')
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,match_id
0,Mohammed Shami,4.0,0,33,1,8.25,12,4,1,0,0,https://www.espncricinfo.com/cricketers/mohamm...,scorecard
1,Yash Dayal,3.0,0,18,1,6.00,9,1,1,0,0,https://www.espncricinfo.com/cricketers/yash-d...,scorecard
2,Lockie Ferguson,3.0,0,22,0,7.33,5,3,0,0,0,https://www.espncricinfo.com/cricketers/lockie...,scorecard
3,Rashid Khan,4.0,0,18,1,4.50,9,1,0,0,0,https://www.espncricinfo.com/cricketers/rashid...,scorecard
4,Hardik Pandya,4.0,0,17,3,4.25,14,2,0,0,0,https://www.espncricinfo.com/cricketers/hardik...,scorecard
...,...,...,...,...,...,...,...,...,...,...,...,...,...
852,Adam Milne,2.3,0,19,0,7.60,9,2,1,0,0,https://www.espncricinfo.com/cricketers/adam-m...,scorecard
853,Mitchell Santner,4.0,0,31,1,7.75,5,1,1,0,0,https://www.espncricinfo.com/cricketers/mitche...,scorecard
854,Dwayne Bravo,4.0,0,20,3,5.00,11,2,0,0,0,https://www.espncricinfo.com/cricketers/dwayne...,scorecard
855,Shivam Dube,1.0,0,11,0,11.00,1,2,0,0,0,https://www.espncricinfo.com/cricketers/shivam...,scorecard
856,Ravindra Jadeja,4.0,0,25,0,6.25,8,1,1,0,0,https://www.espncricinfo.com/cricketers/ravind...,scorecard

In [2]:
df.describe()

,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls
count,857.000000,857.000000,857.000000,857.000000,857.000000,857.000000,857.000000,857.000000,857.000000,857.000000
mean,3.322520,0.032672,27.987165,0.990665,8.718413,7.737456,2.353559,1.239207,0.819137,0.084014
std,1.001841,0.184331,11.262110,1.074299,3.348041,3.876289,1.675787,1.181023,1.098515,0.301769
min,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,20.000000,0.000000,6.500000,5.000000,1.000000,0.000000,0.000000,0.000000
50%,4.000000,0.000000,28.000000,1.000000,8.330000,8.000000,2.000000,1.000000,0.000000,0.000000
75%,4.000000,0.000000,36.000000,2.000000,10.500000,10.000000,3.000000,2.000000,1.000000,0.000000
max,4.000000,2.000000,64.000000,5.000000,36.000000,19.000000,9.000000,6.000000,6.000000,2.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   bowlerName   857 non-null    object
 1   overs        857 non-null    float64
 2   maidens      857 non-null    int64
 3   runs         857 non-null    int64
 4   wickets      857 non-null    int64
 5   economy      857 non-null    float64
 6   dots         857 non-null    int64
 7   fours        857 non-null    int64
 8   sixes        857 non-null    int64
 9   wides        857 non-null    int64
 10  no_balls     857 non-null    int64
 11  bowler_link  857 non-null    object
 12  match_id     857 non-null    object
dtypes: float64(2), int64(8), object(3)
memory usage: 87.2+ KB

In [4]:
df.drop(['match_id'], axis=1, inplace=True)

In [5]:
df = df.sort_values(by='bowlerName')

print(df)

           bowlerName  overs  maidens  runs  wickets  economy  dots  fours  \
720       Abdul Samad    1.0        0     8        0     8.00     1      1
805   Abhishek Sharma    1.0        0    15        0    15.00     1      1
233   Abhishek Sharma    2.0        0    13        0     6.50     2      1
113   Abhishek Sharma    1.0        0    10        0    10.00     1      0
852        Adam Milne    2.3        0    19        0     7.60     9      2
..                ...    ...      ...   ...      ...      ...   ...    ...
761  Yuzvendra Chahal    4.0        0    26        2     6.50    11      2
630  Yuzvendra Chahal    4.0        0    41        4    10.25     7      3
354  Yuzvendra Chahal    4.0        0    33        1     8.25     9      0
8    Yuzvendra Chahal    4.0        0    20        1     5.00    10      1
136  Yuzvendra Chahal    4.0        0    42        1    10.50     6      2

     sixes  wides  no_balls                                        bowler_link
720      0      0         0  https://www.espncricinfo.com/cricketers/abdul-...
805      1      0         0  https://www.espncricinfo.com/cricketers/abhish...
233      0      0         0  https://www.espncricinfo.com/cricketers/abhish...
113      1      0         0  https://www.espncricinfo.com/cricketers/abhish...
852      1      0         0  https://www.espncricinfo.com/cricketers/adam-m...
..     ...    ...       ...                                                ...
761      1      1         0  https://www.espncricinfo.com/cricketers/yuzven...
630      2      2         0  https://www.espncricinfo.com/cricketers/yuzven...
354      3      0         0  https://www.espncricinfo.com/cricketers/yuzven...
8        0      0         0  https://www.espncricinfo.com/cricketers/yuzven...
136      3      1         0  https://www.espncricinfo.com/cricketers/yuzven...

[857 rows x 12 columns]

In [6]:
name_counts = df['bowlerName'].value_counts()

# Step 2: Add a new column to the DataFrame that shows how many times each player appears
df['inningbowled'] = df['bowlerName'].map(name_counts)

# Step 3: Display the updated DataFrame
print(df)

           bowlerName  overs  maidens  runs  wickets  economy  dots  fours  \
720       Abdul Samad    1.0        0     8        0     8.00     1      1
805   Abhishek Sharma    1.0        0    15        0    15.00     1      1
233   Abhishek Sharma    2.0        0    13        0     6.50     2      1
113   Abhishek Sharma    1.0        0    10        0    10.00     1      0
852        Adam Milne    2.3        0    19        0     7.60     9      2
..                ...    ...      ...   ...      ...      ...   ...    ...
761  Yuzvendra Chahal    4.0        0    26        2     6.50    11      2
630  Yuzvendra Chahal    4.0        0    41        4    10.25     7      3
354  Yuzvendra Chahal    4.0        0    33        1     8.25     9      0
8    Yuzvendra Chahal    4.0        0    20        1     5.00    10      1
136  Yuzvendra Chahal    4.0        0    42        1    10.50     6      2

     sixes  wides  no_balls  \
720      0      0         0
805      1      0         0
233      0      0         0
113      1      0         0
852      1      0         0
..     ...    ...       ...
761      1      1         0
630      2      2         0
354      3      0         0
8        0      0         0
136      3      1         0

                                           bowler_link  inningbowled
720  https://www.espncricinfo.com/cricketers/abdul-...             1
805  https://www.espncricinfo.com/cricketers/abhish...             3
233  https://www.espncricinfo.com/cricketers/abhish...             3
113  https://www.espncricinfo.com/cricketers/abhish...             3
852  https://www.espncricinfo.com/cricketers/adam-m...             1
..                                                 ...           ...
761  https://www.espncricinfo.com/cricketers/yuzven...            17
630  https://www.espncricinfo.com/cricketers/yuzven...            17
354  https://www.espncricinfo.com/cricketers/yuzven...            17
8    https://www.espncricinfo.com/cricketers/yuzven...            17
136  https://www.espncricinfo.com/cricketers/yuzven...            17

[857 rows x 13 columns]

In [7]:
import pandas as pd

# Load the CSV file and make sure to reference the correct column name
players_to_check_df = pd.read_csv('temp.csv')

# Convert the 'batsmanName' column to a list
players_to_check = players_to_check_df['batsmanName'].tolist()

# Filter the DataFrame to find players who have bowled more than 2 innings
filtered_df = df[df['inningbowled'] > 2]

# Check if the player names are present in the filtered DataFrame
present_players = filtered_df[filtered_df['bowlerName'].isin(players_to_check)]

# Display the result
present_players

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled
322,Aiden Markram,3.0,0,36,0,12.00,3,2,3,0,0,https://www.espncricinfo.com/cricketers/aiden-...,4
614,Aiden Markram,1.0,0,9,0,9.00,2,0,1,0,0,https://www.espncricinfo.com/cricketers/aiden-...,4
662,Aiden Markram,1.0,0,8,1,8.00,3,0,1,0,0,https://www.espncricinfo.com/cricketers/aiden-...,4
280,Aiden Markram,1.0,0,11,0,11.00,0,0,1,0,0,https://www.espncricinfo.com/cricketers/aiden-...,4
246,Andre Russell,3.0,0,22,2,7.33,2,0,0,1,0,https://www.espncricinfo.com/cricketers/andre-...,13
159,Andre Russell,4.0,0,22,3,5.50,14,3,0,2,0,https://www.espncricinfo.com/cricketers/andre-...,13
94,Andre Russell,3.0,0,45,0,15.00,1,5,2,0,0,https://www.espncricinfo.com/cricketers/andre-...,13
510,Andre Russell,2.0,0,29,1,14.50,3,3,2,1,0,https://www.espncricinfo.com/cricketers/andre-...,13
768,Andre Russell,0.2,0,0,1,0.00,2,0,0,0,0,https://www.espncricinfo.com/cricketers/andre-...,13
390,Andre Russell,1.0,0,14,0,14.00,1,1,1,0,0,https://www.espncricinfo.com/cricketers/andre-...,13
796,Andre Russell,2.2,0,36,0,15.42,6,2,3,1,1,https://www.espncricinfo.com/cricketers/andre-...,13
636,Andre Russell,2.0,0,16,1,8.00,3,0,1,0,0,https://www.espncricinfo.com/cricketers/andre-...,13
569,Andre Russell,2.0,0,20,2,10.00,6,1,2,1,0,https://www.espncricinfo.com/cricketers/andre-...,13
698,Andre Russell,1.0,0,9,0,9.00,3,2,0,0,0,https://www.espncricinfo.com/cricketers/andre-...,13
213,Andre Russell,2.3,0,22,2,8.80,6,4,0,0,0,https://www.espncricinfo.com/cricketers/andre-...,13
453,Andre Russell,1.0,0,5,4,5.00,4,1,0,0,0,https://www.espncricinfo.com/cricketers/andre-...,13
850,Andre Russell,4.0,0,38,1,9.50,7,5,1,0,0,https://www.espncricinfo.com/cricketers/andre-...,13
828,Liam Livingstone,1.0,0,14,0,14.00,1,0,1,1,0,https://www.espncricinfo.com/cricketers/liam-l...,12
774,Liam Livingstone,0.3,0,13,0,26.00,0,0,2,0,0,https://www.espncricinfo.com/cricketers/liam-l...,12
371,Liam Livingstone,2.0,0,23,0,11.50,1,1,1,1,0,https://www.espncricinfo.com/cricketers/liam-l...,12
43,Liam Livingstone,4.0,0,25,0,6.25,8,1,1,0,0,https://www.espncricinfo.com/cricketers/liam-l...,12
426,Liam Livingstone,1.0,0,12,0,12.00,2,1,1,0,0,https://www.espncricinfo.com/cricketers/liam-l...,12
114,Liam Livingstone,4.0,0,27,3,6.75,8,1,1,2,0,https://www.espncricinfo.com/cricketers/liam-l...,12
537,Liam Livingstone,2.0,0,19,0,9.50,3,0,2,0,0,https://www.espncricinfo.com/cricketers/liam-l...,12
262,Liam Livingstone,1.0,0,6,0,6.00,1,0,0,1,0,https://www.espncricinfo.com/cricketers/liam-l...,12
680,Liam Livingstone,1.0,0,12,0,12.00,1,2,0,0,0,https://www.espncricinfo.com/cricketers/liam-l...,12
738,Liam Livingstone,3.0,0,25,2,8.33,7,2,1,1,0,https://www.espncricinfo.com/cricketers/liam-l...,12
302,Liam Livingstone,2.3,0,15,1,6.00,5,1,0,0,0,https://www.espncricinfo.com/cricketers/liam-l...,12
595,Liam Livingstone,1.0,0,11,0,11.00,1,2,0,0,0,https://www.espncricinfo.com/cricketers/liam-l...,12

In [8]:
selected_players =pd.read_csv('selected_players.csv')
selected_players = pd.concat([present_players['bowlerName'], selected_players['batsmanName']], axis=1)
selected_players

           bowlerName       batsmanName
322     Aiden Markram               NaN
614     Aiden Markram               NaN
662     Aiden Markram               NaN
280     Aiden Markram               NaN
246     Andre Russell               NaN
159     Andre Russell               NaN
94      Andre Russell               NaN
510     Andre Russell               NaN
768     Andre Russell               NaN
390     Andre Russell               NaN
796     Andre Russell               NaN
636     Andre Russell               NaN
569     Andre Russell               NaN
698     Andre Russell               NaN
213     Andre Russell               NaN
453     Andre Russell               NaN
850     Andre Russell               NaN
828  Liam Livingstone               NaN
774  Liam Livingstone               NaN
371  Liam Livingstone               NaN
43   Liam Livingstone               NaN
426  Liam Livingstone               NaN
114  Liam Livingstone               NaN
537  Liam Livingstone               NaN
262  Liam Livingstone               NaN
680  Liam Livingstone               NaN
738  Liam Livingstone               NaN
302  Liam Livingstone               NaN
595  Liam Livingstone               NaN
0                 NaN      David Warner
1                 NaN       Jos Buttler
2                 NaN     Rajat Patidar
3                 NaN  Suryakumar Yadav
4                 NaN               NaN
5                 NaN               NaN

In [9]:
# PARAMETERS
# Batting Average > 15
# Strike Rate > 130
# Innings Batted > 2
# Innings Bowled > 4
# Bowling Economy > 7
# Bowling Strike Rate > 20

In [10]:
df2 = pd.read_csv('final_batting_stats.csv')
df2

,batsmanName,inning_batted,Average_SR,Average_Boundary_Percentage,total_runs,batting_average
0,Aaron Finch,5,109.426000,39.408867,86,17.200000
1,Abdul Samad,2,33.330000,0.000000,4,2.000000
2,Abhijeet Tomar,1,50.000000,100.000000,4,4.000000
3,Abhinav Manohar,7,104.930000,47.678110,108,15.428571
4,Abhishek Sharma,14,112.892857,55.777865,426,30.428571
...,...,...,...,...,...,...
179,Washington Sundar,7,127.694286,24.888889,101,14.428571
180,Wriddhiman SahaÂ â€,11,100.744545,62.355482,317,28.818182
181,Yash Dayal,1,0.000000,NaN,0,0.000000
182,Yashasvi Jaiswal,10,111.950000,47.971507,258,25.800000
183,Yuzvendra Chahal,2,31.250000,0.000000,5,2.500000

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   batsmanName                  184 non-null    object
 1   inning_batted                184 non-null    int64
 2   Average_SR                   184 non-null    float64
 3   Average_Boundary_Percentage  172 non-null    float64
 4   total_runs                   184 non-null    int64
 5   batting_average              184 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 8.8+ KB

In [12]:
filtered_df2 = df2[
    (df2['batting_average'] > 15) &
    (df2['Average_SR'] > 127) &
    (df2['inning_batted'] > 2)
]

filtered_df2.reset_index(drop=True, inplace=True)
filtered_df2

,batsmanName,inning_batted,Average_SR,Average_Boundary_Percentage,total_runs,batting_average
0,Aiden Markram,12,131.062500,46.137827,381,31.750000
1,Andre Russell,12,143.687500,70.734447,335,27.916667
2,Axar Patel,10,137.301000,49.298842,182,18.200000
3,David Miller,16,136.240625,46.507874,481,30.062500
4,Deepak Hooda,14,134.700714,51.470344,451,32.214286
5,Dewald Brevis,7,127.010000,52.725246,161,23.000000
6,Dinesh KarthikÂ â€,16,172.531250,56.981331,330,20.625000
7,Glenn Maxwell,13,168.696154,67.066195,301,23.153846
8,Jitesh SharmaÂ â€,9,162.390000,64.775567,211,23.444444
9,Jonny Bairstow,10,136.331000,63.931944,245,24.500000
10,Jos Buttler,17,128.744118,60.396760,863,50.764706
11,Liam Livingstone,14,167.060714,57.456103,437,31.214286
12,MS DhoniÂ â€,7,127.964286,57.766218,132,18.857143
13,Mahipal Lomror,5,158.220000,60.357143,86,17.200000
14,Prithvi Shaw,10,129.731000,69.426060,283,28.300000
15,Rahul Tewatia,12,152.978333,47.883969,217,18.083333
16,Rahul Tripathi,14,138.482857,66.860644,413,29.500000
17,Rajat Patidar,7,142.585714,57.929591,333,47.571429
18,Ravichandran Ashwin,12,139.910833,38.224090,191,15.916667
19,Rinku Singh,7,140.341429,46.761313,174,24.857143
20,Rishabh PantÂ (c)â€,13,161.488462,62.112634,340,26.153846
21,Romario Shepherd,3,135.553333,67.307692,58,19.333333
22,Sai Sudharsan,5,127.800000,57.402597,145,29.000000
23,Sam BillingsÂ â€,6,129.983333,67.347495,130,21.666667
24,Sanju SamsonÂ (c)â€,17,148.932941,69.300957,458,26.941176
25,Shimron Hetmyer,15,136.960000,46.846604,314,20.933333
26,Shreyas IyerÂ (c),14,128.430714,59.342202,401,28.642857
27,Suryakumar Yadav,8,138.737500,57.966489,303,37.875000
28,Tim David,8,194.090000,66.551685,186,23.250000

In [13]:
df['avg_bowling_economy'] = df.groupby('bowlerName')['economy'].transform('mean')
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy
720,Abdul Samad,1.0,0,8,0,8.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abdul-...,1,8.00
805,Abhishek Sharma,1.0,0,15,0,15.00,1,1,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.50
233,Abhishek Sharma,2.0,0,13,0,6.50,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.50
113,Abhishek Sharma,1.0,0,10,0,10.00,1,0,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.50
852,Adam Milne,2.3,0,19,0,7.60,9,2,1,0,0,https://www.espncricinfo.com/cricketers/adam-m...,1,7.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,Yuzvendra Chahal,4.0,0,26,2,6.50,11,2,1,1,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75
630,Yuzvendra Chahal,4.0,0,41,4,10.25,7,3,2,2,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75
354,Yuzvendra Chahal,4.0,0,33,1,8.25,9,0,3,0,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75
8,Yuzvendra Chahal,4.0,0,20,1,5.00,10,1,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75
136,Yuzvendra Chahal,4.0,0,42,1,10.50,6,2,3,1,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75

bowling strike rate = avg no of balls required to take a wicket = total run / total wickets

In [14]:
import numpy as np

# Calculate the bowling strike rate and set to 0 if wickets = 0
df['bowling SR'] = np.where(df['wickets'] == 0, 0, (df['overs'] * 6) / df['wickets'])

# Display the updated DataFrame
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR
720,Abdul Samad,1.0,0,8,0,8.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abdul-...,1,8.00,0.0
805,Abhishek Sharma,1.0,0,15,0,15.00,1,1,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.50,0.0
233,Abhishek Sharma,2.0,0,13,0,6.50,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.50,0.0
113,Abhishek Sharma,1.0,0,10,0,10.00,1,0,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.50,0.0
852,Adam Milne,2.3,0,19,0,7.60,9,2,1,0,0,https://www.espncricinfo.com/cricketers/adam-m...,1,7.60,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,Yuzvendra Chahal,4.0,0,26,2,6.50,11,2,1,1,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,12.0
630,Yuzvendra Chahal,4.0,0,41,4,10.25,7,3,2,2,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,6.0
354,Yuzvendra Chahal,4.0,0,33,1,8.25,9,0,3,0,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,24.0
8,Yuzvendra Chahal,4.0,0,20,1,5.00,10,1,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,24.0
136,Yuzvendra Chahal,4.0,0,42,1,10.50,6,2,3,1,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,24.0

In [15]:
# Step 1: Filter the DataFrame to exclude rows where economy is 0
filtered_df = df[df['bowling SR'] != 0]

# Step 2: Calculate the average economy for each bowler and add it to the original DataFrame
df['avg_bowling_strike'] = df.groupby('bowlerName')['bowling SR'].transform(lambda x: x[x != 0].mean())

# Display the updated DataFrame
df.head(20)

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike
720,Abdul Samad,1.0,0,8,0,8.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abdul-...,1,8.000000,0.0,NaN
805,Abhishek Sharma,1.0,0,15,0,15.00,1,1,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.500000,0.0,NaN
233,Abhishek Sharma,2.0,0,13,0,6.50,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.500000,0.0,NaN
113,Abhishek Sharma,1.0,0,10,0,10.00,1,0,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.500000,0.0,NaN
852,Adam Milne,2.3,0,19,0,7.60,9,2,1,0,0,https://www.espncricinfo.com/cricketers/adam-m...,1,7.600000,0.0,NaN
322,Aiden Markram,3.0,0,36,0,12.00,3,2,3,0,0,https://www.espncricinfo.com/cricketers/aiden-...,4,10.000000,0.0,6.000000
614,Aiden Markram,1.0,0,9,0,9.00,2,0,1,0,0,https://www.espncricinfo.com/cricketers/aiden-...,4,10.000000,0.0,6.000000
662,Aiden Markram,1.0,0,8,1,8.00,3,0,1,0,0,https://www.espncricinfo.com/cricketers/aiden-...,4,10.000000,6.0,6.000000
280,Aiden Markram,1.0,0,11,0,11.00,0,0,1,0,0,https://www.espncricinfo.com/cricketers/aiden-...,4,10.000000,0.0,6.000000
790,Akash Deep,3.5,0,45,3,11.73,10,5,3,0,1,https://www.espncricinfo.com/cricketers/akash-...,5,10.978000,7.0,16.333333
707,Akash Deep,4.0,0,44,0,11.00,6,0,4,0,1,https://www.espncricinfo.com/cricketers/akash-...,5,10.978000,0.0,16.333333
832,Akash Deep,3.0,0,38,1,12.66,4,2,3,0,0,https://www.espncricinfo.com/cricketers/akash-...,5,10.978000,18.0,16.333333
648,Akash Deep,4.0,1,20,1,5.00,14,3,0,0,0,https://www.espncricinfo.com/cricketers/akash-...,5,10.978000,24.0,16.333333
599,Akash Deep,4.0,0,58,0,14.50,6,5,4,4,0,https://www.espncricinfo.com/cricketers/akash-...,5,10.978000,0.0,16.333333
518,Alzarri Joseph,4.0,0,34,2,8.50,10,1,3,1,0,https://www.espncricinfo.com/cricketers/alzarr...,9,8.842222,12.0,21.000000
395,Alzarri Joseph,4.0,0,35,1,8.75,8,3,1,1,0,https://www.espncricinfo.com/cricketers/alzarr...,9,8.842222,24.0,21.000000
202,Alzarri Joseph,2.0,0,14,0,7.00,4,2,0,0,0,https://www.espncricinfo.com/cricketers/alzarr...,9,8.842222,0.0,21.000000
358,Alzarri Joseph,4.0,0,42,1,10.50,9,5,2,1,0,https://www.espncricinfo.com/cricketers/alzarr...,9,8.842222,24.0,21.000000
306,Alzarri Joseph,3.0,0,25,0,8.33,6,1,1,0,1,https://www.espncricinfo.com/cricketers/alzarr...,9,8.842222,0.0,21.000000
34,Alzarri Joseph,2.0,0,27,0,13.50,4,3,2,0,0,https://www.espncricinfo.com/cricketers/alzarr...,9,8.842222,0.0,21.000000

In [16]:
import numpy as np

# Calculate the bowling strike rate and set to 0 if wickets = 0
df['bowling_avg'] = np.where(df['wickets'] == 0, 0, (df['runs']) / df['wickets'])

# Display the updated DataFrame
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg
720,Abdul Samad,1.0,0,8,0,8.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abdul-...,1,8.00,0.0,NaN,0.00
805,Abhishek Sharma,1.0,0,15,0,15.00,1,1,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.50,0.0,NaN,0.00
233,Abhishek Sharma,2.0,0,13,0,6.50,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.50,0.0,NaN,0.00
113,Abhishek Sharma,1.0,0,10,0,10.00,1,0,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.50,0.0,NaN,0.00
852,Adam Milne,2.3,0,19,0,7.60,9,2,1,0,0,https://www.espncricinfo.com/cricketers/adam-m...,1,7.60,0.0,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,Yuzvendra Chahal,4.0,0,26,2,6.50,11,2,1,1,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,12.0,15.907692,13.00
630,Yuzvendra Chahal,4.0,0,41,4,10.25,7,3,2,2,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,6.0,15.907692,10.25
354,Yuzvendra Chahal,4.0,0,33,1,8.25,9,0,3,0,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,24.0,15.907692,33.00
8,Yuzvendra Chahal,4.0,0,20,1,5.00,10,1,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,24.0,15.907692,20.00
136,Yuzvendra Chahal,4.0,0,42,1,10.50,6,2,3,1,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,24.0,15.907692,42.00

In [17]:
# Step 1: Filter the DataFrame to exclude rows where bowling_avg is 0
filtered_df = df[df['bowling_avg'] != 0]

# Step 2: Calculate the average bowling_avg for each bowler and add it to the original DataFrame
df['average_bowling_avg'] = df.groupby('bowlerName')['bowling_avg'].transform(lambda x: x[x != 0].mean())

# Display the updated DataFrame
df.head(20)

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg,average_bowling_avg
720,Abdul Samad,1.0,0,8,0,8.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abdul-...,1,8.000000,0.0,NaN,0.0,NaN
805,Abhishek Sharma,1.0,0,15,0,15.00,1,1,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.500000,0.0,NaN,0.0,NaN
233,Abhishek Sharma,2.0,0,13,0,6.50,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.500000,0.0,NaN,0.0,NaN
113,Abhishek Sharma,1.0,0,10,0,10.00,1,0,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.500000,0.0,NaN,0.0,NaN
852,Adam Milne,2.3,0,19,0,7.60,9,2,1,0,0,https://www.espncricinfo.com/cricketers/adam-m...,1,7.600000,0.0,NaN,0.0,NaN
322,Aiden Markram,3.0,0,36,0,12.00,3,2,3,0,0,https://www.espncricinfo.com/cricketers/aiden-...,4,10.000000,0.0,6.000000,0.0,8.000000
614,Aiden Markram,1.0,0,9,0,9.00,2,0,1,0,0,https://www.espncricinfo.com/cricketers/aiden-...,4,10.000000,0.0,6.000000,0.0,8.000000
662,Aiden Markram,1.0,0,8,1,8.00,3,0,1,0,0,https://www.espncricinfo.com/cricketers/aiden-...,4,10.000000,6.0,6.000000,8.0,8.000000
280,Aiden Markram,1.0,0,11,0,11.00,0,0,1,0,0,https://www.espncricinfo.com/cricketers/aiden-...,4,10.000000,0.0,6.000000,0.0,8.000000
790,Akash Deep,3.5,0,45,3,11.73,10,5,3,0,1,https://www.espncricinfo.com/cricketers/akash-...,5,10.978000,7.0,16.333333,15.0,24.333333
707,Akash Deep,4.0,0,44,0,11.00,6,0,4,0,1,https://www.espncricinfo.com/cricketers/akash-...,5,10.978000,0.0,16.333333,0.0,24.333333
832,Akash Deep,3.0,0,38,1,12.66,4,2,3,0,0,https://www.espncricinfo.com/cricketers/akash-...,5,10.978000,18.0,16.333333,38.0,24.333333
648,Akash Deep,4.0,1,20,1,5.00,14,3,0,0,0,https://www.espncricinfo.com/cricketers/akash-...,5,10.978000,24.0,16.333333,20.0,24.333333
599,Akash Deep,4.0,0,58,0,14.50,6,5,4,4,0,https://www.espncricinfo.com/cricketers/akash-...,5,10.978000,0.0,16.333333,0.0,24.333333
518,Alzarri Joseph,4.0,0,34,2,8.50,10,1,3,1,0,https://www.espncricinfo.com/cricketers/alzarr...,9,8.842222,12.0,21.000000,17.0,30.166667
395,Alzarri Joseph,4.0,0,35,1,8.75,8,3,1,1,0,https://www.espncricinfo.com/cricketers/alzarr...,9,8.842222,24.0,21.000000,35.0,30.166667
202,Alzarri Joseph,2.0,0,14,0,7.00,4,2,0,0,0,https://www.espncricinfo.com/cricketers/alzarr...,9,8.842222,0.0,21.000000,0.0,30.166667
358,Alzarri Joseph,4.0,0,42,1,10.50,9,5,2,1,0,https://www.espncricinfo.com/cricketers/alzarr...,9,8.842222,24.0,21.000000,42.0,30.166667
306,Alzarri Joseph,3.0,0,25,0,8.33,6,1,1,0,1,https://www.espncricinfo.com/cricketers/alzarr...,9,8.842222,0.0,21.000000,0.0,30.166667
34,Alzarri Joseph,2.0,0,27,0,13.50,4,3,2,0,0,https://www.espncricinfo.com/cricketers/alzarr...,9,8.842222,0.0,21.000000,0.0,30.166667

In [18]:
# dot ball percentage
df['dot_ball_percentage'] = ((df['dots']) / (df['overs']*6)) *100
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg,average_bowling_avg,dot_ball_percentage
720,Abdul Samad,1.0,0,8,0,8.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abdul-...,1,8.00,0.0,NaN,0.00,NaN,16.666667
805,Abhishek Sharma,1.0,0,15,0,15.00,1,1,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.50,0.0,NaN,0.00,NaN,16.666667
233,Abhishek Sharma,2.0,0,13,0,6.50,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.50,0.0,NaN,0.00,NaN,16.666667
113,Abhishek Sharma,1.0,0,10,0,10.00,1,0,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.50,0.0,NaN,0.00,NaN,16.666667
852,Adam Milne,2.3,0,19,0,7.60,9,2,1,0,0,https://www.espncricinfo.com/cricketers/adam-m...,1,7.60,0.0,NaN,0.00,NaN,65.217391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,Yuzvendra Chahal,4.0,0,26,2,6.50,11,2,1,1,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,12.0,15.907692,13.00,20.49359,45.833333
630,Yuzvendra Chahal,4.0,0,41,4,10.25,7,3,2,2,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,6.0,15.907692,10.25,20.49359,29.166667
354,Yuzvendra Chahal,4.0,0,33,1,8.25,9,0,3,0,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,24.0,15.907692,33.00,20.49359,37.500000
8,Yuzvendra Chahal,4.0,0,20,1,5.00,10,1,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,24.0,15.907692,20.00,20.49359,41.666667
136,Yuzvendra Chahal,4.0,0,42,1,10.50,6,2,3,1,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,24.0,15.907692,42.00,20.49359,25.000000

In [19]:
df['average_dot_ball_%'] = df.groupby('bowlerName')['dot_ball_percentage'].transform('mean')
df

,bowlerName,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls,bowler_link,inningbowled,avg_bowling_economy,bowling SR,avg_bowling_strike,bowling_avg,average_bowling_avg,dot_ball_percentage,average_dot_ball_%
720,Abdul Samad,1.0,0,8,0,8.00,1,1,0,0,0,https://www.espncricinfo.com/cricketers/abdul-...,1,8.00,0.0,NaN,0.00,NaN,16.666667,16.666667
805,Abhishek Sharma,1.0,0,15,0,15.00,1,1,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.50,0.0,NaN,0.00,NaN,16.666667,16.666667
233,Abhishek Sharma,2.0,0,13,0,6.50,2,1,0,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.50,0.0,NaN,0.00,NaN,16.666667,16.666667
113,Abhishek Sharma,1.0,0,10,0,10.00,1,0,1,0,0,https://www.espncricinfo.com/cricketers/abhish...,3,10.50,0.0,NaN,0.00,NaN,16.666667,16.666667
852,Adam Milne,2.3,0,19,0,7.60,9,2,1,0,0,https://www.espncricinfo.com/cricketers/adam-m...,1,7.60,0.0,NaN,0.00,NaN,65.217391,65.217391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,Yuzvendra Chahal,4.0,0,26,2,6.50,11,2,1,1,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,12.0,15.907692,13.00,20.49359,45.833333,33.578431
630,Yuzvendra Chahal,4.0,0,41,4,10.25,7,3,2,2,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,6.0,15.907692,10.25,20.49359,29.166667,33.578431
354,Yuzvendra Chahal,4.0,0,33,1,8.25,9,0,3,0,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,24.0,15.907692,33.00,20.49359,37.500000,33.578431
8,Yuzvendra Chahal,4.0,0,20,1,5.00,10,1,0,0,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,24.0,15.907692,20.00,20.49359,41.666667,33.578431
136,Yuzvendra Chahal,4.0,0,42,1,10.50,6,2,3,1,0,https://www.espncricinfo.com/cricketers/yuzven...,17,7.75,24.0,15.907692,42.00,20.49359,25.000000,33.578431

In [20]:
df.fillna(0, inplace=True)
df = df.round(2)
df.to_csv('processed_balling_stats.csv', index=False)

In [21]:
df3 = df[['bowlerName', 'inningbowled', 'avg_bowling_economy', 'avg_bowling_strike', 'average_bowling_avg', 'average_dot_ball_%']].copy()
df3.drop_duplicates(inplace=True)
df3
df3.to_csv('final_bowling_stats.csv', index=False)

In [22]:
# Filter the DataFrame based on the given conditions
filtered_df3 = df3[
    (df3['inningbowled'] > 2) & 
    (df3['avg_bowling_economy'] < 7) & 
    (df3['avg_bowling_strike'] < 20) 
]

# Display the filtered DataFrame
filtered_df3

,bowlerName,inningbowled,avg_bowling_economy,avg_bowling_strike,average_bowling_avg,average_dot_ball_%
234,Glenn Maxwell,10,6.93,14.40,16.00,42.78
327,Mitchell Santner,6,6.68,19.50,24.50,39.35
126,Mohsin Khan,9,6.03,16.00,13.52,53.70
142,Rashid Khan,16,6.59,17.57,19.58,33.48

In [23]:
filtered_df2

,batsmanName,inning_batted,Average_SR,Average_Boundary_Percentage,total_runs,batting_average
0,Aiden Markram,12,131.062500,46.137827,381,31.750000
1,Andre Russell,12,143.687500,70.734447,335,27.916667
2,Axar Patel,10,137.301000,49.298842,182,18.200000
3,David Miller,16,136.240625,46.507874,481,30.062500
4,Deepak Hooda,14,134.700714,51.470344,451,32.214286
5,Dewald Brevis,7,127.010000,52.725246,161,23.000000
6,Dinesh KarthikÂ â€,16,172.531250,56.981331,330,20.625000
7,Glenn Maxwell,13,168.696154,67.066195,301,23.153846
8,Jitesh SharmaÂ â€,9,162.390000,64.775567,211,23.444444
9,Jonny Bairstow,10,136.331000,63.931944,245,24.500000
10,Jos Buttler,17,128.744118,60.396760,863,50.764706
11,Liam Livingstone,14,167.060714,57.456103,437,31.214286
12,MS DhoniÂ â€,7,127.964286,57.766218,132,18.857143
13,Mahipal Lomror,5,158.220000,60.357143,86,17.200000
14,Prithvi Shaw,10,129.731000,69.426060,283,28.300000
15,Rahul Tewatia,12,152.978333,47.883969,217,18.083333
16,Rahul Tripathi,14,138.482857,66.860644,413,29.500000
17,Rajat Patidar,7,142.585714,57.929591,333,47.571429
18,Ravichandran Ashwin,12,139.910833,38.224090,191,15.916667
19,Rinku Singh,7,140.341429,46.761313,174,24.857143
20,Rishabh PantÂ (c)â€,13,161.488462,62.112634,340,26.153846
21,Romario Shepherd,3,135.553333,67.307692,58,19.333333
22,Sai Sudharsan,5,127.800000,57.402597,145,29.000000
23,Sam BillingsÂ â€,6,129.983333,67.347495,130,21.666667
24,Sanju SamsonÂ (c)â€,17,148.932941,69.300957,458,26.941176
25,Shimron Hetmyer,15,136.960000,46.846604,314,20.933333
26,Shreyas IyerÂ (c),14,128.430714,59.342202,401,28.642857
27,Suryakumar Yadav,8,138.737500,57.966489,303,37.875000
28,Tim David,8,194.090000,66.551685,186,23.250000

In [24]:
# List of player names to check
players_to_check = filtered_df2['batsmanName'].tolist()

# Check if these names are present in the 'bowlerName' column of filtered_df3
present_players2 = filtered_df3[filtered_df3['bowlerName'].isin(players_to_check)]

# Display the result
present_players2
# Display unique bowler names to verify if players exist

,bowlerName,inningbowled,avg_bowling_economy,avg_bowling_strike,average_bowling_avg,average_dot_ball_%
234,Glenn Maxwell,10,6.93,14.4,16.0,42.78

In [25]:
selected_players = pd.concat([present_players2['bowlerName'], present_players['bowlerName'], selected_players['batsmanName']], axis=1)
selected_players

        bowlerName        bowlerName       batsmanName
234  Glenn Maxwell               NaN               NaN
322            NaN     Aiden Markram               NaN
614            NaN     Aiden Markram               NaN
662            NaN     Aiden Markram               NaN
280            NaN     Aiden Markram               NaN
246            NaN     Andre Russell               NaN
159            NaN     Andre Russell               NaN
94             NaN     Andre Russell               NaN
510            NaN     Andre Russell               NaN
768            NaN     Andre Russell               NaN
390            NaN     Andre Russell               NaN
796            NaN     Andre Russell               NaN
636            NaN     Andre Russell               NaN
569            NaN     Andre Russell               NaN
698            NaN     Andre Russell               NaN
213            NaN     Andre Russell               NaN
453            NaN     Andre Russell               NaN
850            NaN     Andre Russell               NaN
828            NaN  Liam Livingstone               NaN
774            NaN  Liam Livingstone               NaN
371            NaN  Liam Livingstone               NaN
43             NaN  Liam Livingstone               NaN
426            NaN  Liam Livingstone               NaN
114            NaN  Liam Livingstone               NaN
537            NaN  Liam Livingstone               NaN
262            NaN  Liam Livingstone               NaN
680            NaN  Liam Livingstone               NaN
738            NaN  Liam Livingstone               NaN
302            NaN  Liam Livingstone               NaN
595            NaN  Liam Livingstone               NaN
0              NaN               NaN      David Warner
1              NaN               NaN       Jos Buttler
2              NaN               NaN     Rajat Patidar
3              NaN               NaN  Suryakumar Yadav
4              NaN               NaN               NaN
5              NaN               NaN               NaN

In [26]:
# Filter the DataFrame based on the given conditions
filtered_df4 = df3[
    (df3['inningbowled'] > 3) & 
    (df3['avg_bowling_economy'] < 8) & 
    (df3['avg_bowling_strike'] < 16) &
    (df3['average_bowling_avg'] < 25) &
    (df3['average_dot_ball_%'] > 40 ) 
]

# Display the filtered DataFrame
filtered_df4

,bowlerName,inningbowled,avg_bowling_economy,avg_bowling_strike,average_bowling_avg,average_dot_ball_%
234,Glenn Maxwell,10,6.93,14.40,16.00,42.78
842,Jasprit Bumrah,14,7.22,15.83,17.00,43.65
449,Tim Southee,9,7.73,13.43,15.02,45.06

In [27]:
selected_players = pd.concat([filtered_df4['bowlerName'],present_players2['bowlerName'], present_players['bowlerName'], selected_players['batsmanName']], axis=1)
selected_players

         bowlerName     bowlerName        bowlerName       batsmanName
234   Glenn Maxwell  Glenn Maxwell               NaN               NaN
842  Jasprit Bumrah            NaN               NaN               NaN
449     Tim Southee            NaN               NaN               NaN
322             NaN            NaN     Aiden Markram               NaN
614             NaN            NaN     Aiden Markram               NaN
662             NaN            NaN     Aiden Markram               NaN
280             NaN            NaN     Aiden Markram               NaN
246             NaN            NaN     Andre Russell               NaN
159             NaN            NaN     Andre Russell               NaN
94              NaN            NaN     Andre Russell               NaN
510             NaN            NaN     Andre Russell               NaN
768             NaN            NaN     Andre Russell               NaN
390             NaN            NaN     Andre Russell               NaN
796             NaN            NaN     Andre Russell               NaN
636             NaN            NaN     Andre Russell               NaN
569             NaN            NaN     Andre Russell               NaN
698             NaN            NaN     Andre Russell               NaN
213             NaN            NaN     Andre Russell               NaN
453             NaN            NaN     Andre Russell               NaN
850             NaN            NaN     Andre Russell               NaN
828             NaN            NaN  Liam Livingstone               NaN
774             NaN            NaN  Liam Livingstone               NaN
371             NaN            NaN  Liam Livingstone               NaN
43              NaN            NaN  Liam Livingstone               NaN
426             NaN            NaN  Liam Livingstone               NaN
114             NaN            NaN  Liam Livingstone               NaN
537             NaN            NaN  Liam Livingstone               NaN
262             NaN            NaN  Liam Livingstone               NaN
680             NaN            NaN  Liam Livingstone               NaN
738             NaN            NaN  Liam Livingstone               NaN
302             NaN            NaN  Liam Livingstone               NaN
595             NaN            NaN  Liam Livingstone               NaN
0               NaN            NaN               NaN      David Warner
1               NaN            NaN               NaN       Jos Buttler
2               NaN            NaN               NaN     Rajat Patidar
3               NaN            NaN               NaN  Suryakumar Yadav
4               NaN            NaN               NaN               NaN
5               NaN            NaN               NaN               NaN

In [28]:
# Combine the 'bowlerName' and 'batsmanName' columns, removing NaN values
player_names = selected_players[['bowlerName', 'batsmanName']].stack().dropna().unique()

# Convert to a list if required
player_names_list = list(player_names)

# Print the list of unique player names
player_names_list

['Glenn Maxwell',
 'Jasprit Bumrah',
 'Tim Southee',
 'Aiden Markram',
 'Andre Russell',
 'Liam Livingstone',
 'David Warner',
 'Jos Buttler',
 'Rajat Patidar',
 'Suryakumar Yadav']

In [29]:
df_players = pd.DataFrame(player_names_list, columns=["Player Name"])

# Save the DataFrame to a CSV file
csv_filename = 'final_players_ipl_2022.csv'
df_players.to_csv(csv_filename, index=False)

print(f"Player names saved to {csv_filename}")

Player names saved to final_players_ipl_2022.csv